In [16]:
# azureml-core of version 1.0.72 or higher is required
# azureml-dataprep[pandas] of version 1.1.34 or higher is required
import requests
import json
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import numpy as np
import seaborn as sns

from pandas.io.json import json_normalize

In [17]:
#Definitions

today = pd.to_datetime('today').normalize()
current_eom = today + pd.offsets.MonthEnd(0)
start_date = "2017-01-01"
end_date = current_eom + pd.offsets.MonthEnd(11)
studio_debug = "London"
debug = True

def get_json(df):
    """ Small function to serialise DataFrame dates as 'YYYY-MM-DD' in JSON """

    def convert_timestamp(item_date_object):
        if isinstance(item_date_object, (datetime.date, datetime.datetime)):
            return item_date_object.strftime("%Y-%m-%d")
    
    dict_ = df.to_dict(orient="records")

    return json.dumps(dict_, default=convert_timestamp)

#display count and summary of any dataframe
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)
pd.set_option('display.precision', 1)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

def get_df_name(df):
    name =[x for x in globals() if globals()[x] is df][0]
    return name

def difflist(li1, li2): 
    return (list(set(li1) - set(li2)))

def addlist(li1, li2): 
    return (li1.append(li2))

def remove_percetage(df, column_list):
    for col in column_list:
        df[col] = round(df[col].str.replace('%','').astype(np.float64) / 100, 4)
    return df

def coerce_df_columns_to_numeric(df):
    cols_float1 = list(df.filter(like='Rate', axis=1).columns)
    cols_float2 = list(df.filter(like='Yield', axis=1).columns)
    cols_float3 = list(df.filter(like='Diff%', axis=1).columns)
    cols_float4 = list(df.filter(like='Relative_Offset', axis=1).columns)
    cols_float5 = list(df.filter(like='sp500', axis=1).columns)
    cols_float6 = list(df.filter(like='Return', axis=1).columns)
    cols_float = cols_float1 + cols_float2 + cols_float3 + cols_float4 + cols_float5 + cols_float6
    #display("cols_float:", cols_float)
    cols_int1 = list(df.filter(like='Revenue', axis=1).columns)
    cols_int2 = list(df.filter(like='Conversions', axis=1).columns)
    cols_int3 = list(df.filter(like='Value', axis=1).columns)
    cols_int4 = list(df.filter(like='Pipeline', axis=1).columns)
    cols_int5 = list(df.filter(like='Offset', axis=1).columns)
    cols_int6 = list(df.filter(like='Headcount', axis=1).columns)
    cols_int = cols_int1 + cols_int2 + cols_int3 + cols_int4 + cols_int5 + cols_int6
    #display("cols_int:", cols_int)
    cols1 = list(df.select_dtypes(include='float64').columns)
    cols = cols1 + cols_int
    #display("cols:", cols)
    final_cols = difflist(cols,cols_float)
    #display("final_cols:", final_cols)
    df[final_cols] = df[final_cols].apply(pd.to_numeric, errors='coerce')
    df[final_cols] = df[final_cols].replace(np.nan, 0, regex=True)
    df[final_cols] = df[final_cols].astype(int)
    df[final_cols] = round(df[final_cols],0)
    #return df

def data_prep(df):
    df.columns = df.columns.astype(str).str.replace(" ", "_")
    if 'End_of_Month' in df.columns:
        df['End_of_Month'] = pd.to_datetime(df['End_of_Month']) #Format Date
    if 'Snapshot_Date_Short' in df.columns:
        df['Snapshot_Date_Short'] = pd.to_datetime(df['Snapshot_Date_Short']) #Format Date
    df = df.query('Studio not in @exclude_studio')
    df = df.replace(np.nan, 0, regex=True)
    return df

def show_stats(df):   
    print("\n DF Name: \n")
    display(get_df_name(df))
    print("\n DF Info: \n")
    display(df.info(verbose=True))
    print("\n DF Describe: \n")
    display(df.describe(include='all').transpose().head())
    print("\n DF Head: \n")
    display(df.head())
    print("\n DF Tail: \n")
    display(df.tail())
    group_by_studio = df.groupby(by=['Studio'], as_index=False)
    studio_sum = group_by_studio.sum().reset_index(drop=True)
    studio_count = group_by_studio.count().reset_index(drop=True)
    print("\n Studio Sum: \n")
    display(studio_sum.head())
    print("\n Studio Count: \n")
    display(studio_count.head())
    if 'End_of_Month' in df.columns:
        df['End_of_Month'] = pd.to_datetime(df['End_of_Month']) #Format Date
        group_by_eom = df.groupby(by=['End_of_Month'], as_index=False)
        eom_sum = group_by_eom.sum().reset_index(drop=True)
        eom_count = group_by_eom.count().reset_index(drop=True)
        print("\n EOM Sum:")
        display(eom_sum.head())
        print("\n EOM Count: \n")
        display(eom_count.head())
    if 'Snapshot_Date_Short' in df.columns:
        df['Snapshot_Date_Short'] = pd.to_datetime(df['Snapshot_Date_Short']) #Format Date
        group_by_sds = df.groupby(by=['Snapshot_Date_Short'], as_index=False)
        sds_sum = group_by_sds.sum().reset_index(drop=True)
        sds_count = group_by_sds.count().reset_index(drop=True)
        print("\n SDS Sum:")
        display(sds_sum.head())
        print("\n SDS Count: \n")
        display(sds_count.head())
    return

In [18]:
# azureml-core of version 1.0.72 or higher is required
# azureml-dataprep[pandas] of version 1.1.34 or higher is required
# azureml-core of version 1.0.72 or higher is required
# azureml-dataprep[pandas] of version 1.1.34 or higher is required
from azureml.core import Workspace, Dataset

subscription_id = 'db61fd47-db56-45e3-844f-1b1f5c47990a'
resource_group = 'BI-DevQA-RG'
workspace_name = 'dwmlazwu01'

workspace = Workspace(subscription_id, resource_group, workspace_name)

dataset = Dataset.get_by_name(workspace, name='revpipe_final')

dataset.to_pandas_dataframe()
df = dataset.to_pandas_dataframe()
df.columns = df.columns.astype(str).str.replace(" ", "_")
#df['Snapshot_Date_Short'] = pd.to_datetime(df['Snapshot_Date_Short'])
df = df.replace(np.nan, 0, regex=True)
show_stats(df)
#df.columns.name=None
df = df.reset_index(drop = True)

#df['End_of_Month'] = pd.to_datetime(df['End_of_Month'])
print("df :")
display(df.head())

 DF Name:

'df'

 DF Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2932 entries, 0 to 2931
Data columns (total 13 columns):
Snapshot_Date_Short               2932 non-null datetime64[ns]
Relative_Snapshot_Month_Offset    2932 non-null int64
Studio                            2932 non-null object
Pipeline                          2932 non-null int64
Active_Unrecognized_Revenue       2932 non-null int64
Opportunity_Revenue               2932 non-null int64
Pipeline_3_Month_Rolling_Avg      2932 non-null int64
Pipeline_3_Month_Rolling_Sum      2932 non-null int64
Pipeline_MoM                      2932 non-null int64
Pipeline_3M_Forward_Sum           2932 non-null int64
Pipeline_3M_Forward_Avg           2932 non-null int64
Relative_Offset                   2932 non-null object
Revenue                           2932 non-null int64
dtypes: datetime64[ns](1), int64(10), object(2)
memory usage: 297.9+ KB

None

 DF Describe:

                                 count unique                  top freq                first                 last      mean       std    min       25%       50%       75%        max
Snapshot_Date_Short             2932    26     2020-01-31 00:00:00  119  2018-07-31 00:00:00  2020-08-31 00:00:00  NaN       NaN       NaN    NaN       NaN       NaN       NaN
Relative_Snapshot_Month_Offset 2932.00  NaN    NaN                  NaN  NaN                  NaN                 -12.17    7.42      -25.00 -18.00    -12.00    -6.00     0.00
Studio                          2932    17     Super                182  NaN                  NaN                  NaN       NaN       NaN    NaN       NaN       NaN       NaN
Pipeline                       2932.00  NaN    NaN                  NaN  NaN                  NaN                 609340.77 594763.42 0.00   161983.00 461497.00 840641.25 4054734.00
Active_Unrecognized_Revenue    2932.00  NaN    NaN                  NaN  NaN                  NaN                 331248.72 452631.43 0.00   25610.25  142375.00 490018.00 3225198.00

 DF Head:

  Snapshot_Date_Short  Relative_Snapshot_Month_Offset     Studio  Pipeline  Active_Unrecognized_Revenue  Opportunity_Revenue  Pipeline_3_Month_Rolling_Avg  Pipeline_3_Month_Rolling_Sum  Pipeline_MoM  Pipeline_3M_Forward_Sum  Pipeline_3M_Forward_Avg Relative_Offset  Revenue
0 2018-07-31          -25                              Cambridge  1204028   1190091                      13937                1290427                       3871282                      -122730        4598863                  1532954                  Relative-00     1167320
1 2018-07-31          -25                              Chicago    1727025   1727025                      0                    1925101                       5775305                      -196920        6254188                  2084729                  Relative-00     1471901
2 2018-07-31          -25                              D4C        1449893   1449893                      0                    1450284                       4350854                      -43844         4649230                  1549743                  Relative-00     1355137
3 2018-07-31          -25                              D4L        508838    508838                       0                    573807                        1721423                      -96082         1906705                  635568                   Relative-00     526425
4 2018-07-31          -25                              Food       454369    454369                       0                    656938                        1970816                      -271108        1520891                  506963                   Relative-00     446128

 DF Tail:

     Snapshot_Date_Short  Relative_Snapshot_Month_Offset    Studio  Pipeline  Active_Unrecognized_Revenue  Opportunity_Revenue  Pipeline_3_Month_Rolling_Avg  Pipeline_3_Month_Rolling_Sum  Pipeline_MoM  Pipeline_3M_Forward_Sum  Pipeline_3M_Forward_Avg Relative_Offset  Revenue
2927 2020-08-31           0                               OpenIDEO  240655    206663                       33992                276023                        828071                       -125899        804562                   268187                   Relative-06     0
2928 2020-08-31           0                               SF OS     22873     22873                        0                    34783                         104350                       -1830          71867                    35933                    Relative-06     0
2929 2020-08-31           0                               Shanghai  218382    85482                        132900               263579                        790737                        17566         465409                   155136                   Relative-06     0
2930 2020-08-31           0                               Super     228157    0                            228157               609251                        1827755                      -611877        616321                   205440                   Relative-06     0
2931 2020-08-31           0                               Tokyo     198632    0                            198632               234794                        704383                       -44005         365010                   182505                   Relative-06     0

 Studio Sum:

                Studio  Relative_Snapshot_Month_Offset   Pipeline  Active_Unrecognized_Revenue  Opportunity_Revenue  Pipeline_3_Month_Rolling_Avg  Pipeline_3_Month_Rolling_Sum  Pipeline_MoM  Pipeline_3M_Forward_Sum  Pipeline_3M_Forward_Avg    Revenue
0  Cambridge           -2275                            170285058  90312400                     79929882             194583035                     583749267                    -25838256      423999405                141333084                221510902
1  Chicago             -2275                            240284802  143723449                    96430116             271698684                     814915067                    -33389088      602520941                201176803                317464980
2  Creative Leadership -1088                            3726387    2954354                      771624               4445245                       12670653                     -573635        8516914                  3198713                  3974185
3  D4C                 -2275                            161672923  96398797                     65355076             182522106                     547566530                    -21665383      411871859                137357669                195535159
4  D4L                 -2275                            80525386   39136289                     41389032             93093741                      279196767                    -13050856      198086772                66340673                 111042815

 Studio Count:

                Studio  Snapshot_Date_Short  Relative_Snapshot_Month_Offset  Pipeline  Active_Unrecognized_Revenue  Opportunity_Revenue  Pipeline_3_Month_Rolling_Avg  Pipeline_3_Month_Rolling_Sum  Pipeline_MoM  Pipeline_3M_Forward_Sum  Pipeline_3M_Forward_Avg  Relative_Offset  Revenue
0  Cambridge            182                  182                             182       182                          182                  182                           182                           182           182                      182                      182              182
1  Chicago              182                  182                             182       182                          182                  182                           182                           182           182                      182                      182              182
2  Creative Leadership  125                  125                             125       125                          125                  125                           125                           125           125                      125                      125              125
3  D4C                  182                  182                             182       182                          182                  182                           182                           182           182                      182                      182              182
4  D4L                  182                  182                             182       182                          182                  182                           182                           182           182                      182                      182              182

 SDS Sum:

  Snapshot_Date_Short  Relative_Snapshot_Month_Offset  Pipeline  Active_Unrecognized_Revenue  Opportunity_Revenue  Pipeline_3_Month_Rolling_Avg  Pipeline_3_Month_Rolling_Sum  Pipeline_MoM  Pipeline_3M_Forward_Sum  Pipeline_3M_Forward_Avg   Revenue
0 2018-07-31          -2600                            62541094  34196036                     28345026             72224380                      215995127                    -9980367       155166892                52147169                 80362677
1 2018-08-31          -2520                            64521880  32984599                     31537249             75103499                      224446761                    -10534174      158645026                53521459                 80601571
2 2018-09-30          -2415                            64923311  34492742                     30405756             75375422                      224358331                    -10481405      156083062                53149155                 81400244
3 2018-10-31          -2266                            53202898  33955056                     19220561             63993180                      190249111                    -10406662      122332825                41472066                 82252270
4 2018-11-30          -2142                            58576532  27946435                     30597440             68292548                      203478648                    -10177099      146419099                49659401                 82085957

 SDS Count:

  Snapshot_Date_Short  Relative_Snapshot_Month_Offset  Studio  Pipeline  Active_Unrecognized_Revenue  Opportunity_Revenue  Pipeline_3_Month_Rolling_Avg  Pipeline_3_Month_Rolling_Sum  Pipeline_MoM  Pipeline_3M_Forward_Sum  Pipeline_3M_Forward_Avg  Relative_Offset  Revenue
0 2018-07-31           104                             104     104       104                          104                  104                           104                           104           104                      104                      104              104
1 2018-08-31           105                             105     105       105                          105                  105                           105                           105           105                      105                      105              105
2 2018-09-30           105                             105     105       105                          105                  105                           105                           105           105                      105                      105              105
3 2018-10-31           103                             103     103       103                          103                  103                           103                           103           103                      103                      103              103
4 2018-11-30           102                             102     102       102                          102                  102                           102                           102           102                      102                      102              102

df :

  Snapshot_Date_Short  Relative_Snapshot_Month_Offset     Studio  Pipeline  Active_Unrecognized_Revenue  Opportunity_Revenue  Pipeline_3_Month_Rolling_Avg  Pipeline_3_Month_Rolling_Sum  Pipeline_MoM  Pipeline_3M_Forward_Sum  Pipeline_3M_Forward_Avg Relative_Offset  Revenue
0 2018-07-31          -25                              Cambridge  1204028   1190091                      13937                1290427                       3871282                      -122730        4598863                  1532954                  Relative-00     1167320
1 2018-07-31          -25                              Chicago    1727025   1727025                      0                    1925101                       5775305                      -196920        6254188                  2084729                  Relative-00     1471901
2 2018-07-31          -25                              D4C        1449893   1449893                      0                    1450284                       4350854                      -43844         4649230                  1549743                  Relative-00     1355137
3 2018-07-31          -25                              D4L        508838    508838                       0                    573807                        1721423                      -96082         1906705                  635568                   Relative-00     526425
4 2018-07-31          -25                              Food       454369    454369                       0                    656938                        1970816                      -271108        1520891                  506963                   Relative-00     446128

In [19]:
#pivot
df_pivot = df.pivot_table(index=['Snapshot_Date_Short','Relative_Offset'], columns='Studio', values='Revenue', aggfunc=np.sum, margins=False)
#df3_pivot1['EOM1'] = pd.to_datetime(df3_pivot1['End_of_Month']).dt.date.astype(str)
#df_pivot.columns.name=None
#df_pivot = df_pivot.reset_index()
df_pivot = df_pivot.reset_index(level=df_pivot.index.names)
df_pivot

Studio Snapshot_Date_Short Relative_Offset  Cambridge    Chicago  Creative Leadership        D4C       D4L       Food    Global    Health     London    Munich   New York  OpenIDEO     SF OS   Shanghai      Super  Teachers Guild     Tokyo
0      2018-07-31           Relative-00    1167320.00 1471901.00 nan                  1355137.00 526425.00 446128.00  489498.00 nan       1078885.00 565461.00 892148.00  268061.00 212325.00 732704.00  1344107.00 28845.00        646432.00
1      2018-07-31           Relative-01    1615715.00 2311118.00 nan                  1126195.00 640650.00 685434.00  143473.00 nan       911414.00  430848.00 1009904.00 214658.00 119014.00 527301.00  1372663.00 49610.00        725772.00
2      2018-07-31           Relative-02    1223964.00 2002735.00 nan                  998130.00  791091.00 518134.00  112534.00 nan       783017.00  715636.00 1046940.00 94298.00  224575.00 747603.00  1176530.00 210043.00       665625.00
3      2018-07-31           Relative-03    1474613.00 1877350.00 nan                  1139782.00 756216.00 1070926.00 0.00      nan       975430.00  771263.00 1201195.00 224718.00 313787.00 603605.00  1722958.00 118269.00       748174.00
4      2018-07-31           Relative-04    1219103.00 1494602.00 nan                  1226198.00 538323.00 609125.00  410265.00 nan       776039.00  793417.00 986323.00  106060.00 162300.00 1051509.00 1341427.00 66769.00        711594.00
5      2018-07-31           Relative-05    931666.00  1880015.00 nan                  842861.00  628613.00 513832.00  7041.00   nan       773985.00  472400.00 878431.00  181320.00 329977.00 743223.00  1190392.00 29325.00        647591.00
6      2018-07-31           Relative-06    1252541.00 2251215.00 nan                  732754.00  673082.00 625342.00  nan       nan       818923.00  506888.00 699725.00  228603.00 166996.00 1237242.00 1338196.00 110174.00       758983.00
7      2018-08-31           Relative-00    1615715.00 2311118.00 nan                  1126195.00 640650.00 685434.00  143473.00 nan       911414.00  430848.00 1009904.00 214658.00 119014.00 527301.00  1372663.00 49610.00        725772.00
8      2018-08-31           Relative-01    1223964.00 2002735.00 nan                  998130.00  791091.00 518134.00  112534.00 nan       783017.00  715636.00 1046940.00 94298.00  224575.00 747603.00  1176530.00 210043.00       665625.00
9      2018-08-31           Relative-02    1474613.00 1877350.00 nan                  1139782.00 756216.00 1070926.00 0.00      nan       975430.00  771263.00 1201195.00 224718.00 313787.00 603605.00  1722958.00 118269.00       748174.00
10     2018-08-31           Relative-03    1219103.00 1494602.00 nan                  1226198.00 538323.00 609125.00  410265.00 nan       776039.00  793417.00 986323.00  106060.00 162300.00 1051509.00 1341427.00 66769.00        711594.00
11     2018-08-31           Relative-04    931666.00  1880015.00 nan                  842861.00  628613.00 513832.00  7041.00   nan       773985.00  472400.00 878431.00  181320.00 329977.00 743223.00  1190392.00 29325.00        647591.00
12     2018-08-31           Relative-05    1252541.00 2251215.00 nan                  732754.00  673082.00 625342.00  190044.00 nan       818923.00  506888.00 699725.00  228603.00 166996.00 1237242.00 1338196.00 110174.00       758983.00
13     2018-08-31           Relative-06    1414292.00 1701750.00 nan                  1147662.00 874405.00 590129.00  0.00      nan       933761.00  547094.00 545969.00  141809.00 182513.00 742846.00  1628681.00 74123.00        749193.00
14     2018-09-30           Relative-00    1223964.00 2002735.00 nan                  998130.00  791091.00 518134.00  112534.00 nan       783017.00  715636.00 1046940.00 94298.00  224575.00 747603.00  1176530.00 210043.00       665625.00
15     2018-09-30           Relative-01    1474613.00 1877350.00 nan                  1139782.00 756216.00 1070926.00 0.00      nan       975430.00  771263.00 1201195.00 224718.00 313787.00 603605.00  1722958.00 118269.00       748174.00
16     2018-09-30           Relative-02    1219103.00 1494602.00 nan                  1226198.00 538323.00 609125.00  410265.00 nan       776039.00  793417.00 986323.00  106060.00 162300.00 1051509.00 1341427.00 66769.00        711594.00
17     2018-09-30           Relative-03    931666.00  1880015.00 nan                  842861.00  628613.00 513832.00  7041.00   nan       773985.00  472400.00 878431.00  181320.00 329977.00 743223.00  1190392.00 29325.00        647591.00
18     2018-09-30           Relative-04    1252541.00 2251215.00 nan                  732754.00  673082.00 625342.00  190044.00 nan       818923.00  506888.00 699725.00  228603.00 166996.00 1237242.00 1338196.00 110174.00       758983.00
19     2018-09-30           Relative-05    1414292.00 1701750.00 nan                  1147662.00 874405.00 590129.00  0.00      nan       933761.00  547094.00 545969.00  141809.00 182513.00 742846.00  1628681.00 74123.00        749193.00
20     2018-09-30           Relative-06    1485930.00 1697617.00 nan                  1335209.00 599775.00 878167.00  0.00      nan       1226119.00 669188.00 1299505.00 166859.00 249788.00 979372.00  1307648.00 35671.00        751594.00
21     2018-10-31           Relative-00    1474613.00 1877350.00 nan                  1139782.00 756216.00 1070926.00 0.00      nan       975430.00  771263.00 1201195.00 224718.00 313787.00 603605.00  1722958.00 118269.00       748174.00
22     2018-10-31           Relative-01    1219103.00 1494602.00 nan                  1226198.00 538323.00 609125.00  410265.00 nan       776039.00  793417.00 986323.00  106060.00 162300.00 1051509.00 1341427.00 66769.00        711594.00
23     2018-10-31           Relative-02    931666.00  1880015.00 nan                  842861.00  628613.00 513832.00  7041.00   nan       773985.00  472400.00 878431.00  181320.00 329977.00 743223.00  1190392.00 29325.00        647591.00
24     2018-10-31           Relative-03    1252541.00 2251215.00 nan                  732754.00  673082.00 625342.00  190044.00 nan       818923.00  506888.00 699725.00  228603.00 166996.00 1237242.00 1338196.00 110174.00       758983.00
25     2018-10-31           Relative-04    1414292.00 1701750.00 nan                  1147662.00 874405.00 590129.00  0.00      nan       933761.00  547094.00 545969.00  141809.00 182513.00 742846.00  1628681.00 74123.00        749193.00
26     2018-10-31           Relative-05    1485930.00 1697617.00 nan                  1335209.00 599775.00 878167.00  0.00      nan       1226119.00 669188.00 1299505.00 166859.00 249788.00 979372.00  1307648.00 35671.00        751594.00
27     2018-10-31           Relative-06    1391929.00 1711898.00 nan                  1216473.00 552530.00 775761.00  nan       nan       1086902.00 841655.00 971380.00  263637.00 152031.00 954905.00  1372423.00 nan             871357.00
28     2018-11-30           Relative-00    1219103.00 1494602.00 nan                  1226198.00 538323.00 609125.00  410265.00 nan       776039.00  793417.00 986323.00  106060.00 162300.00 1051509.00 1341427.00 66769.00        711594.00
29     2018-11-30           Relative-01    931666.00  1880015.00 nan                  842861.00  628613.00 513832.00  7041.00   nan       773985.00  472400.00 878431.00  181320.00 329977.00 743223.00  1190392.00 29325.00        647591.00
..            ...                   ...          ...         ...  ..                        ...        ...       ...      ...    ..             ...        ...       ...        ...       ...       ...         ...      ...              ...
152    2020-04-30           Relative-05    898980.00  1573848.00 8576.00              843028.00  471468.00 427313.00  178995.00 654786.00 895704.00  455026.00 414508.00  185722.00 207471.00 451024.00  2543753.00 42986.00        449522.00
153    2020-04-30           Relative-06    973084.00  1700013.00 nan                  825919.00  430898.00 445891.00  178666.00 458254.00 999912.00  512196.00 428517.00  206818.00 215302.00 473669.00  2476916.00 46945.00        444252.00
154    2020-05-31           Relative-00    746372.00  1455175.00 0.00                 897727.00  376142.00 209995.00  75484.00  946333.00 1026564.00 341350.00 163298.00  171929.00 235368.00 351947.00  2403879.00 61424.00        583503.00
155    2020-05-31           Relative-01    1528960.00 1046204.00 20800.00             994653.00  547541.00 455535.00  203363.00 667299.00 899121.00  430169.00 542760.00  196509.00 254356.00 530225.00  2805582.00 76000.00        595114.00
156    2020-05-31           Relative-02    1339182.00 2030803.00 22434.00             856217.00  728900.00 567559.00  404772.00 793421.00 1073541.00 328536.00 389546.00  224775.00 199377.00 650499.00  3028934.00 0.00            592122.00
157    2020-05-31           Relative-03    1138690.00 1603668.00 20219.00             819583.00  495346.00 435816.00  208822.00 622243.00 933688.00  492913.00 417338.00  193886.00 223983.00 539733.00  2618671.00 20632.00        507492.00
158    2020-05-31           Relative-04    898980.00  1573848.00 8576.00              843028.00  471468.00 427313.00  178995.00 654786.00 895704.00  455026.00 414508.00  185722.00 207471.00 451024.00  2543753.00 42986.00        449522.00
159    2020-05-31           Relative-05    973084.00  1700013.00 8011.00              825919.00  430898.00 445891.00  178666.00 458254.00 999912.00  512196.00 428517.00  206818.00 215302.00 473669.00  2476916.00 46945.00        444252.00
160    2020-05-31           Relative-06    954666.00  1624962.00 7719.00              853898.00  416007.00 449829.00  208137.00 444526.00 964775.00  421658.00 408483.00  201804.00 221192.00 441969.00  2463618.00 nan             418509.00
161    2020-06-30           Relative-00    1528960.00 1046204.00 20800.00             994653.00  547541.00 455535.00  203363.00 667299.00 899121.00  430169.00 542760.00  196509.00 254356.00 530225.00  2805582.00 76000.00        595114.00
162    2020-06-30           Relative-01    1339182.00 2030803.00 22434.00             856217.00  728900.00 567559.00  404772.00 793421.00 1073541.00 328536.00 389546.00  224775.00 199377.00 650499.00  3028934.00 0.00            592122.00
163    2020-06-30           Relative-02    1138690.00 1603668.00 20219.00             819583.00  495346.00 435816.00  208822.00 622243.00 933688.00  492913.00 417338.00  193886.00 223983.00 539733.00  2618671.00 20632.00        507492.00
164    2020-06-30           Relative-03    898980.00  1573848.00 8576.00              843028.00  471468.00 427313.00  178995.00 654786.00 895704.00  455026.00 414508.00  185722.00 207471.00 451024.00  2543753.00 42986.00        449522.00
165    2020-06-30           Relative-04    973084.00  1700013.00 8011.00              825919.00  430898.00 445891.00  178666.00 458254.00 999912.00  512196.00 428517.00  206818.00 215302.00 473669.00  2476916.00 nan             444252.00
166    2020-06-30           Relative-05    954666.00  1624962.00 7719.00              853898.00  416007.00 449829.00  208137.00 444526.00 964775.00  421658.00 408483.00  201804.00 221192.00 441969.00  2463618.00 nan             418509.00
167    2020-06-30           Relative-06    954144.00  1653419.00 9891.00              835891.00  420822.00 429631.00  183239.00 461942.00 979337.00  428205.00 420338.00  199631.00 211938.00 429575.00  2442551.00 nan             436599.00
168    2020-07-31           Relative-00    1339182.00 2030803.00 22434.00             856217.00  728900.00 567559.00  404772.00 793421.00 1073541.00 328536.00 389546.00  224775.00 199377.00 650499.00  3028934.00 0.00            592122.00
169    2020-07-31           Relative-01    1138690.00 1603668.00 20219.00             819583.00  495346.00 435816.00  208822.00 622243.00 933688.00  492913.00 417338.00  193886.00 223983.00 539733.00  2618671.00 20632.00        507492.00
170    2020-07-31           Relative-02    898980.00  1573848.00 8576.00              843028.00  471468.00 427313.00  178995.00 654786.00 895704.00  455026.00 414508.00  185722.00 207471.00 451024.00  2543753.00 42986.00        449522.00
171    2020-07-31           Relative-03    973084.00  1700013.00 8011.00              825919.00  430898.00 445891.00  178666.00 458254.00 999912.00  512196.00 428517.00  206818.00 215302.00 473669.00  2476916.00 nan             444252.00
172    2020-07-31           Relative-04    954666.00  1624962.00 7719.00              853898.00  416007.00 449829.00  208137.00 444526.00 964775.00  421658.00 408483.00  201804.00 221192.00 441969.00  2463618.00 nan             418509.00
173    2020-07-31           Relative-05    954144.00  1653419.00 9891.00              835891.00  420822.00 429631.00  183239.00 461942.00 979337.00  428205.00 420338.00  199631.00 211938.00 429575.00  2442551.00 nan             436599.00
174    2020-07-31           Relative-06    910383.00  1698700.00 -2006.00             801566.00  450095.00 434759.00  160133.00 468906.00 928680.00  444784.00 412338.00  205059.00 256076.00 456230.00  2331675.00 nan             477791.00
175    2020-08-31           Relative-00    1138690.00 1603668.00 20219.00             819583.00  495346.00 435816.00  208822.00 622243.00 933688.00  492913.00 417338.00  193886.00 223983.00 539733.00  2618671.00 20632.00        507492.00
176    2020-08-31           Relative-01    898980.00  1573848.00 8576.00              843028.00  471468.00 427313.00  178995.00 654786.00 895704.00  455026.00 414508.00  185722.00 207471.00 451024.00  2543753.00 42986.00        449522.00
177    2020-08-31           Relative-02    973084.00  1700013.00 8011.00              825919.00  430898.00 445891.00  178666.00 458254.00 999912.00  512196.00 428517.00  206818.00 215302.00 473669.00  2476916.00 46945.00        444252.00
178    2020-08-31           Relative-03    954666.00  1624962.00 7719.00              853898.00  416007.00 449829.00  208137.00 444526.00 964775.00  421658.00 408483.00  201804.00 221192.00 441969.00  2463618.00 nan             418509.00
179    2020-08-31           Relative-04    954144.00  1653419.00 9891.00              835891.00  420822.00 429631.00  183239.00 461942.00 979337.00  428205.00 420338.00  199631.00 211938.00 429575.00  2442551.00 nan             436599.00
180    2020-08-31           Relative-05    910383.00  1698700.00 -2006.00             801566.00  450095.00 434759.00  160133.00 468906.00 928680.00  444784.00 412338.00  205059.00 256076.00 456230.00  2331675.00 nan             477791.00
181    2020-08-31           Relative-06    0.00       0.00       nan                  0.00       0.00      0.00       0.00      0.00      0.00       0.00      0.00       0.00      0.00      0.00       0.00       nan             0.00

[182 rows x 19 columns]

In [20]:
#Limit for forecast horizon
revpipe = df.copy()
revpipe.drop(columns=['Revenue'], axis=1, inplace = True)
forecast_horizon = 6 #months
#today = datetime.date.today()
#today_plus_month_offset = today + pd.offsets.MonthEnd(6)
#lt_plus_month_offset = pd.to_datetime(df1['End of Month']) <= today_plus_month_offset
#forecast_horizon1 = revpipe['Relative_Month_Offset'] < forecast_horizon
#revpipe = revpipe.query('Relative_Month_Offset < @forecast_horizon')
show_stats(revpipe)

 DF Name:

'revpipe'

 DF Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2932 entries, 0 to 2931
Data columns (total 12 columns):
Snapshot_Date_Short               2932 non-null datetime64[ns]
Relative_Snapshot_Month_Offset    2932 non-null int64
Studio                            2932 non-null object
Pipeline                          2932 non-null int64
Active_Unrecognized_Revenue       2932 non-null int64
Opportunity_Revenue               2932 non-null int64
Pipeline_3_Month_Rolling_Avg      2932 non-null int64
Pipeline_3_Month_Rolling_Sum      2932 non-null int64
Pipeline_MoM                      2932 non-null int64
Pipeline_3M_Forward_Sum           2932 non-null int64
Pipeline_3M_Forward_Avg           2932 non-null int64
Relative_Offset                   2932 non-null object
dtypes: datetime64[ns](1), int64(9), object(2)
memory usage: 275.0+ KB

None

 DF Describe:

                                 count unique                  top freq                first                 last      mean       std    min       25%       50%       75%        max
Snapshot_Date_Short             2932    26     2020-01-31 00:00:00  119  2018-07-31 00:00:00  2020-08-31 00:00:00  NaN       NaN       NaN    NaN       NaN       NaN       NaN
Relative_Snapshot_Month_Offset 2932.00  NaN    NaN                  NaN  NaN                  NaN                 -12.17    7.42      -25.00 -18.00    -12.00    -6.00     0.00
Studio                          2932    17     Super                182  NaN                  NaN                  NaN       NaN       NaN    NaN       NaN       NaN       NaN
Pipeline                       2932.00  NaN    NaN                  NaN  NaN                  NaN                 609340.77 594763.42 0.00   161983.00 461497.00 840641.25 4054734.00
Active_Unrecognized_Revenue    2932.00  NaN    NaN                  NaN  NaN                  NaN                 331248.72 452631.43 0.00   25610.25  142375.00 490018.00 3225198.00

 DF Head:

  Snapshot_Date_Short  Relative_Snapshot_Month_Offset     Studio  Pipeline  Active_Unrecognized_Revenue  Opportunity_Revenue  Pipeline_3_Month_Rolling_Avg  Pipeline_3_Month_Rolling_Sum  Pipeline_MoM  Pipeline_3M_Forward_Sum  Pipeline_3M_Forward_Avg Relative_Offset
0 2018-07-31          -25                              Cambridge  1204028   1190091                      13937                1290427                       3871282                      -122730        4598863                  1532954                  Relative-00
1 2018-07-31          -25                              Chicago    1727025   1727025                      0                    1925101                       5775305                      -196920        6254188                  2084729                  Relative-00
2 2018-07-31          -25                              D4C        1449893   1449893                      0                    1450284                       4350854                      -43844         4649230                  1549743                  Relative-00
3 2018-07-31          -25                              D4L        508838    508838                       0                    573807                        1721423                      -96082         1906705                  635568                   Relative-00
4 2018-07-31          -25                              Food       454369    454369                       0                    656938                        1970816                      -271108        1520891                  506963                   Relative-00

 DF Tail:

     Snapshot_Date_Short  Relative_Snapshot_Month_Offset    Studio  Pipeline  Active_Unrecognized_Revenue  Opportunity_Revenue  Pipeline_3_Month_Rolling_Avg  Pipeline_3_Month_Rolling_Sum  Pipeline_MoM  Pipeline_3M_Forward_Sum  Pipeline_3M_Forward_Avg Relative_Offset
2927 2020-08-31           0                               OpenIDEO  240655    206663                       33992                276023                        828071                       -125899        804562                   268187                   Relative-06
2928 2020-08-31           0                               SF OS     22873     22873                        0                    34783                         104350                       -1830          71867                    35933                    Relative-06
2929 2020-08-31           0                               Shanghai  218382    85482                        132900               263579                        790737                        17566         465409                   155136                   Relative-06
2930 2020-08-31           0                               Super     228157    0                            228157               609251                        1827755                      -611877        616321                   205440                   Relative-06
2931 2020-08-31           0                               Tokyo     198632    0                            198632               234794                        704383                       -44005         365010                   182505                   Relative-06

 Studio Sum:

                Studio  Relative_Snapshot_Month_Offset   Pipeline  Active_Unrecognized_Revenue  Opportunity_Revenue  Pipeline_3_Month_Rolling_Avg  Pipeline_3_Month_Rolling_Sum  Pipeline_MoM  Pipeline_3M_Forward_Sum  Pipeline_3M_Forward_Avg
0  Cambridge           -2275                            170285058  90312400                     79929882             194583035                     583749267                    -25838256      423999405                141333084
1  Chicago             -2275                            240284802  143723449                    96430116             271698684                     814915067                    -33389088      602520941                201176803
2  Creative Leadership -1088                            3726387    2954354                      771624               4445245                       12670653                     -573635        8516914                  3198713
3  D4C                 -2275                            161672923  96398797                     65355076             182522106                     547566530                    -21665383      411871859                137357669
4  D4L                 -2275                            80525386   39136289                     41389032             93093741                      279196767                    -13050856      198086772                66340673

 Studio Count:

                Studio  Snapshot_Date_Short  Relative_Snapshot_Month_Offset  Pipeline  Active_Unrecognized_Revenue  Opportunity_Revenue  Pipeline_3_Month_Rolling_Avg  Pipeline_3_Month_Rolling_Sum  Pipeline_MoM  Pipeline_3M_Forward_Sum  Pipeline_3M_Forward_Avg  Relative_Offset
0  Cambridge            182                  182                             182       182                          182                  182                           182                           182           182                      182                      182
1  Chicago              182                  182                             182       182                          182                  182                           182                           182           182                      182                      182
2  Creative Leadership  125                  125                             125       125                          125                  125                           125                           125           125                      125                      125
3  D4C                  182                  182                             182       182                          182                  182                           182                           182           182                      182                      182
4  D4L                  182                  182                             182       182                          182                  182                           182                           182           182                      182                      182

 SDS Sum:

  Snapshot_Date_Short  Relative_Snapshot_Month_Offset  Pipeline  Active_Unrecognized_Revenue  Opportunity_Revenue  Pipeline_3_Month_Rolling_Avg  Pipeline_3_Month_Rolling_Sum  Pipeline_MoM  Pipeline_3M_Forward_Sum  Pipeline_3M_Forward_Avg
0 2018-07-31          -2600                            62541094  34196036                     28345026             72224380                      215995127                    -9980367       155166892                52147169
1 2018-08-31          -2520                            64521880  32984599                     31537249             75103499                      224446761                    -10534174      158645026                53521459
2 2018-09-30          -2415                            64923311  34492742                     30405756             75375422                      224358331                    -10481405      156083062                53149155
3 2018-10-31          -2266                            53202898  33955056                     19220561             63993180                      190249111                    -10406662      122332825                41472066
4 2018-11-30          -2142                            58576532  27946435                     30597440             68292548                      203478648                    -10177099      146419099                49659401

 SDS Count:

  Snapshot_Date_Short  Relative_Snapshot_Month_Offset  Studio  Pipeline  Active_Unrecognized_Revenue  Opportunity_Revenue  Pipeline_3_Month_Rolling_Avg  Pipeline_3_Month_Rolling_Sum  Pipeline_MoM  Pipeline_3M_Forward_Sum  Pipeline_3M_Forward_Avg  Relative_Offset
0 2018-07-31           104                             104     104       104                          104                  104                           104                           104           104                      104                      104
1 2018-08-31           105                             105     105       105                          105                  105                           105                           105           105                      105                      105
2 2018-09-30           105                             105     105       105                          105                  105                           105                           105           105                      105                      105
3 2018-10-31           103                             103     103       103                          103                  103                           103                           103           103                      103                      103
4 2018-11-30           102                             102     102       102                          102                  102                           102                           102           102                      102                      102

In [21]:
import datetime
from dateutil.tz import tzutc

from pandas.io.json import json_normalize

In [22]:
#data = revenueforecastdf.to_json(orient="records")
# Convert to JSON string
import numpy as np

def get_json(df):
    """ Small function to serialise DataFrame dates as 'YYYY-MM-DD' in JSON """

    def convert_timestamp(item_date_object):
        if isinstance(item_date_object, (datetime.date, datetime.datetime)):
            return item_date_object.strftime("%Y-%m-%d")
    
    dict_ = df.to_dict(orient="records")

    return json.dumps(dict_, default=convert_timestamp)

#df1 = df.replace(np.nan, 0, regex=True)

input_data = get_json(revpipe)
#data_loads = json.loads(input_data)
#data_loads['data']
print("Input Data: ",type(input_data))
input_data = "{\"data\" :" + input_data + "}"
input_data[0:2000]

Input Data:  <class 'str'>

'{"data" :[{"Snapshot_Date_Short": "2018-07-31", "Relative_Snapshot_Month_Offset": -25, "Studio": "Cambridge", "Pipeline": 1204028, "Active_Unrecognized_Revenue": 1190091, "Opportunity_Revenue": 13937, "Pipeline_3_Month_Rolling_Avg": 1290427, "Pipeline_3_Month_Rolling_Sum": 3871282, "Pipeline_MoM": -122730, "Pipeline_3M_Forward_Sum": 4598863, "Pipeline_3M_Forward_Avg": 1532954, "Relative_Offset": "Relative-00"}, {"Snapshot_Date_Short": "2018-07-31", "Relative_Snapshot_Month_Offset": -25, "Studio": "Chicago", "Pipeline": 1727025, "Active_Unrecognized_Revenue": 1727025, "Opportunity_Revenue": 0, "Pipeline_3_Month_Rolling_Avg": 1925101, "Pipeline_3_Month_Rolling_Sum": 5775305, "Pipeline_MoM": -196920, "Pipeline_3M_Forward_Sum": 6254188, "Pipeline_3M_Forward_Avg": 2084729, "Relative_Offset": "Relative-00"}, {"Snapshot_Date_Short": "2018-07-31", "Relative_Snapshot_Month_Offset": -25, "Studio": "D4C", "Pipeline": 1449893, "Active_Unrecognized_Revenue": 1449893, "Opportunity_Revenue": 0, "Pipeline_3_Month_Rolling_Avg": 1450284, "Pipeline_3_Month_Rolling_Sum": 4350854, "Pipeline_MoM": -43844, "Pipeline_3M_Forward_Sum": 4649230, "Pipeline_3M_Forward_Avg": 1549743, "Relative_Offset": "Relative-00"}, {"Snapshot_Date_Short": "2018-07-31", "Relative_Snapshot_Month_Offset": -25, "Studio": "D4L", "Pipeline": 508838, "Active_Unrecognized_Revenue": 508838, "Opportunity_Revenue": 0, "Pipeline_3_Month_Rolling_Avg": 573807, "Pipeline_3_Month_Rolling_Sum": 1721423, "Pipeline_MoM": -96082, "Pipeline_3M_Forward_Sum": 1906705, "Pipeline_3M_Forward_Avg": 635568, "Relative_Offset": "Relative-00"}, {"Snapshot_Date_Short": "2018-07-31", "Relative_Snapshot_Month_Offset": -25, "Studio": "Food", "Pipeline": 454369, "Active_Unrecognized_Revenue": 454369, "Opportunity_Revenue": 0, "Pipeline_3_Month_Rolling_Avg": 656938, "Pipeline_3_Month_Rolling_Sum": 1970816, "Pipeline_MoM": -271108, "Pipeline_3M_Forward_Sum": 1520891, "Pipeline_3M_Forward_Avg": 506963, "Relative_Offset": "Relative-00"}, {"Snapshot'

In [23]:
# URL for the web service
scoring_uri = 'http://668050fb-e3c9-4acf-b373-49693d14b64a.westus2.azurecontainer.io/score'
# If the service is authenticated, set the key or token
key = '81W5YhDau9lduzaWYZz4mW2iQI4i0VAq'

# Set the content type
headers = {'Content-Type': 'application/json'}
# If authentication is enabled, set the authorization header
headers['Authorization'] = f'Bearer {key}'

In [24]:
# Make the request and display the response
#while True:
#    try:
resp = requests.post(scoring_uri, input_data, headers=headers)
json_data = resp.text
print("Json Data:", type(json_data))
json_data[0:2000]
#   except Exception as e:
#        result = str(e)
#        print(json.dumps({"error": result}))
#df_rest = pd.DataFrame.from_records(resp.json())
#df_rest

Json Data: <class 'str'>

'"{\\"result\\": [1218481.4864761715, 1734880.9850887246, 1218886.7522577099, 555190.2415409753, 542101.9853779908, 179099.4767107419, 1032128.1212043397, 600980.591495416, 881194.0468500144, 245948.45917056766, 225866.0981612376, 777408.135480632, 1367848.847797604, 88012.49485916905, 697341.8760288832, 1490081.3879720722, 2174102.3432478136, 1159813.3127096551, 654849.3498411751, 648282.2461522869, 152351.21574874513, 911461.8039311555, 521008.9785903096, 1006502.3609065828, 156363.969482645, 207958.7475761086, 639904.8712865947, 1405276.890796692, 83637.26879908216, 737923.3532887441, 1320028.8926925203, 1837674.8862170419, 1093640.2254357433, 666867.5242914098, 581617.3630745193, 158325.577452688, 889702.209793509, 576516.6808094555, 997286.4909065483, 142315.9091425446, 211943.0537285238, 690279.5947143676, 1418975.3558708802, 85720.07744406999, 711231.1574078656, 1371801.3496616154, 1948972.3742372796, 1119241.4953127203, 675826.2780246146, 697350.0448594817, 146325.83036052305, 940868.0499779857, 643021.6736347983, 1068636.1439778504, 200636.59681545323, 258162.65345141027, 704707.474124351, 1788529.331991301, 101812.75043466642, 783383.3586051415, 1164509.6508913257, 1592511.4730997123, 1166392.2899850563, 617508.013610418, 653850.9268336005, 241642.12711724962, 840862.9194808679, 671689.8529268751, 918971.9735424668, 207398.20156595125, 202149.94147844883, 817753.4504110526, 1590332.988457611, 92527.84372479784, 735197.2987455545, 1043953.8016469766, 1846979.3368432561, 947960.4642720835, 645480.1301346957, 602833.3473354869, 165669.89954887467, 883627.3132791647, 618170.6546101792, 769785.4384389746, 219451.37773975186, 245212.8600340378, 791406.9181759417, 1454573.4747650756, 97241.7487971573, 707624.8878076986, 1260412.014083464, 1973356.5020440288, 871009.7233324031, 637437.4980830835, 686027.6322870889, 884106.8158136553, 645337.0834232719, 761093.7779390994, 258826.42753735135, 277505.9381981618, 880602.6930831391, 1489647.06823912, 149052.63331774448, 7'

In [25]:
#Convert response to python dictionary
import datetime
from dateutil.tz import tzutc

r_json = resp.json()
r_json_loads = json.loads(r_json)
type(r_json_loads)
print("Data Dict Type=", type(r_json_loads))
print("Data Dict Keys=",r_json_loads.keys())
data_dict = r_json_loads
#data_dict['forecast']
#for i in data_dict:
#    if isinstance(i, dict):
#        for key, value in i.items():
#            print(key, value)
#    else:
#        print(i)
        
#for key, value in data_dict.items():
#        print(key, ":", value)

Data Dict Type= <class 'dict'>
Data Dict Keys= dict_keys(['result'])

In [26]:
#Convert response to python dictionary
#import datetime
#from dateutil.tz import tzutc

#loaded_json = json.loads(json_data)

#print("Loaded Json=",type(loaded_json))
#norm_json = json_normalize(loaded_json)
#print(norm_json)

#print(json.dumps(loaded_json, indent=4, sort_keys=True))

#data_dict = json.loads(loaded_json)
#print("Data Dict Type=", type(data_dict))
#print("Data Dict Keys=",data_dict.keys())
#data_dict['forecast'][0]
#json_normalize(data_dict)
#json_normalize(data_dict, record_path='index')
#df1 = pd.DataFrame.from_dict(json_normalize(data_dict))
#df1['index']=[df1['index']]
#json_normalize(data_dict['index'])

In [27]:
print("Convert Nested Data Dictornary to flattened Dataframe and datetime to date format")
####Convert Nested Data Dictornary to flattened Dataframe
df1 = pd.DataFrame(data_dict)
df2 = pd.DataFrame()
for col in reversed(df1.columns):
    display(col)
    norm = json_normalize(data_dict, record_path=col).add_prefix(f'{col}.')
    df2= pd.concat([df2, norm], axis=1, sort=False)
    df2.columns = df2.columns.astype(str).str.replace("result.", "")
    df2.columns = df2.columns.astype(str).str.replace(".0", "")
    df2.columns = df2.columns.astype(str).str.replace(" ", "_")

df2['Forecast'] = round(df2['0'],0)
df2.drop(columns=['0'], axis=1, inplace = True)
#show_stats(df2)
df2

Convert Nested Data Dictornary to flattened Dataframe and datetime to date format

'result'

       Forecast
0    1218481.00
1    1734881.00
2    1218887.00
3    555190.00
4    542102.00
5    179099.00
6    1032128.00
7    600981.00
8    881194.00
9    245948.00
10   225866.00
11   777408.00
12   1367849.00
13   88012.00
14   697342.00
15   1490081.00
16   2174102.00
17   1159813.00
18   654849.00
19   648282.00
20   152351.00
21   911462.00
22   521009.00
23   1006502.00
24   156364.00
25   207959.00
26   639905.00
27   1405277.00
28   83637.00
29   737923.00
...        ...
2902 1516208.00
2903 12693.00
2904 773113.00
2905 406443.00
2906 389433.00
2907 171457.00
2908 447888.00
2909 759745.00
2910 397454.00
2911 431026.00
2912 221159.00
2913 240355.00
2914 447154.00
2915 2293951.00
2916 448962.00
2917 352012.00
2918 582387.00
2919 277435.00
2920 111703.00
2921 119137.00
2922 -35906.00
2923 177374.00
2924 284617.00
2925 88871.00
2926 62874.00
2927 29882.00
2928 40648.00
2929 203256.00
2930 1145672.00
2931 125698.00

[2932 rows x 1 columns]

In [28]:
#Concatenate Forecast RESULTS with revpipe_final dataframe
forecast_final = pd.concat([df, df2], axis=1, sort=False)
#forecast_final['EOM'] = pd.to_datetime(forecast_final['End_of_Month']).dt.date.astype(str)
forecast_final['Diff'] = forecast_final['Forecast'] - forecast_final['Revenue']
forecast_final['Diff%'] = round(forecast_final['Diff'] / forecast_final['Revenue'],4)
forecast_final = forecast_final.reset_index(drop=True)
coerce_df_columns_to_numeric(forecast_final)
print("forecast_final info:")
#show_stats(forecast_final)
forecast_final.to_csv("forecast_final.csv", index=False)
forecast_final.query('Studio==@studio_debug and Relative_Snapshot_Month_Offset == -1')

forecast_final info:

     Snapshot_Date_Short  Relative_Snapshot_Month_Offset  Studio  Pipeline  Active_Unrecognized_Revenue  Opportunity_Revenue  Pipeline_3_Month_Rolling_Avg  Pipeline_3_Month_Rolling_Sum  Pipeline_MoM  Pipeline_3M_Forward_Sum  Pipeline_3M_Forward_Avg Relative_Offset  Revenue  Forecast    Diff  Diff%
2711 2020-07-31          -1                               London  1065454   1065612                      0                    997046                        2991140                       166333        3218367                  1072789                  Relative-00     1073541  1079450   5909   0.01
2728 2020-07-31          -1                               London  895847    866014                       29833                953474                        2860424                      -169607        2861634                  953878                   Relative-01     933688   963710    30022  0.03
2745 2020-07-31          -1                               London  1257064   1156943                      100121               1072789                       3218367                       361217        2503119                  834373                   Relative-02     895704   1056006   160302 0.18
2762 2020-07-31          -1                               London  708722    602160                       106562               953878                        2861634                      -548342        1605368                  535122                   Relative-03     999912   1013041   13129  0.01
2778 2020-07-31          -1                               London  537332    484654                       52677                834373                        2503119                      -171390        942088                   314029                   Relative-04     964775   956788   -7987   -0.01
2794 2020-07-31          -1                               London  359313    314110                       45203                535122                        1605368                      -178018        424645                   141548                   Relative-05     979337   862699   -116638 -0.12
2810 2020-07-31          -1                               London  45442     7471                         37971                314029                        942088                       -313871        65332                    32666                    Relative-06     928680   790801   -137879 -0.15

In [29]:
forecast_final.query('Studio==@studio_debug and Relative_Snapshot_Month_Offset == 0')

     Snapshot_Date_Short  Relative_Snapshot_Month_Offset  Studio  Pipeline  Active_Unrecognized_Revenue  Opportunity_Revenue  Pipeline_3_Month_Rolling_Avg  Pipeline_3_Month_Rolling_Sum  Pipeline_MoM  Pipeline_3M_Forward_Sum  Pipeline_3M_Forward_Avg Relative_Offset  Revenue  Forecast    Diff  Diff%
2826 2020-08-31           0                               London  888884    875052                       13831                953849                        2861547                      -184656        2849227                  949742                   Relative-00     933688   946958    13270  0.01
2843 2020-08-31           0                               London  1263943   1189136                      74807                1075456                       3226369                       375059        2502900                  834300                   Relative-01     895704   1051393   155689 0.17
2860 2020-08-31           0                               London  696398    597284                       99114                949742                        2849227                      -567544        1606417                  535472                   Relative-02     999912   993172   -6740   -0.01
2877 2020-08-31           0                               London  542557    483506                       59050                834300                        2502900                      -153841        962000                   320666                   Relative-03     964775   926983   -37792  -0.04
2893 2020-08-31           0                               London  367461    315277                       52184                535472                        1606417                      -175095        461675                   153891                   Relative-04     979337   852954   -126383 -0.13
2909 2020-08-31           0                               London  51981     7636                         44344                320666                        962000                       -315480        116835                   38945                    Relative-05     928680   759745   -168935 -0.18
2924 2020-08-31           0                               London  42233     0                            42233                153891                        461675                       -9748          64854                    32427                    Relative-06     0        284617    284617 inf

In [30]:
#pivot by Studio, End_of_Month
forecast_final_pivot = forecast_final.pivot_table(index=['Studio','Snapshot_Date_Short'], columns='Relative_Offset', values='Forecast', aggfunc=np.sum, margins=True)
forecast_final_pivot = forecast_final_pivot.reset_index(level=forecast_final_pivot.index.names)
print("forecast_final_pivot info:")
display(forecast_final_pivot)
#revpipe1_pivot.to_csv("revpipe1_pivot.csv", index=False)

forecast_final_pivot info:

Relative_Offset          Studio Snapshot_Date_Short  Relative-00  Relative-01  Relative-02  Relative-03  Relative-04  Relative-05  Relative-06         All
0                Cambridge      2018-07-31          1218481.00   1490081.00   1320029.00   1371801.00   1164510.00   1043954.00   1260412.00    8869268
1                Cambridge      2018-08-31          1521138.00   1296199.00   1388182.00   1127599.00   1015171.00   1206882.00   1180516.00    8735687
2                Cambridge      2018-09-30          1247662.00   1410508.00   1336379.00   1060939.00   1230411.00   1315271.00   1236434.00    8837604
3                Cambridge      2018-10-31          1458893.00   1349557.00   1046110.00   1211325.00   1220524.00   1286351.00   1133820.00    8706580
4                Cambridge      2018-11-30          1194808.00   995962.00    1329181.00   1399384.00   1361900.00   1328941.00   1405822.00    9015998
5                Cambridge      2018-12-31          1038563.00   1358649.00   1340264.00   1418885.00   1328177.00   1347165.00   1123865.00    8955568
6                Cambridge      2019-01-31          1292616.00   1346546.00   1353199.00   1407546.00   1367150.00   1087182.00   1077914.00    8932153
7                Cambridge      2019-02-28          1386940.00   1463106.00   1442236.00   1453369.00   1087439.00   1081985.00   1190978.00    9106053
8                Cambridge      2019-03-31          1440428.00   1381352.00   1428021.00   1099104.00   1007655.00   1125474.00   1202992.00    8685026
9                Cambridge      2019-04-30          1377122.00   1562063.00   1174128.00   1022049.00   1091798.00   1223098.00   1309116.00    8759374
10               Cambridge      2019-05-31          1561227.00   1053119.00   1106214.00   1231222.00   1161655.00   1391953.00   1231147.00    8736537
11               Cambridge      2019-06-30          1045310.00   985666.00    1217252.00   1296629.00   1461433.00   1220870.00   1236819.00    8463979
12               Cambridge      2019-07-31          954596.00    1121572.00   1262110.00   1443982.00   1245422.00   1272503.00   1308640.00    8608825
13               Cambridge      2019-08-31          1145701.00   1196340.00   1417964.00   1218201.00   1264340.00   1338232.00   1318395.00    8899173
14               Cambridge      2019-09-30          1265908.00   1479878.00   1334651.00   1276890.00   1329184.00   1318525.00   1178490.00    9183526
15               Cambridge      2019-10-31          1553252.00   1224268.00   1203255.00   1323923.00   1378643.00   1213443.00   1021266.00    8918050
16               Cambridge      2019-11-30          1187734.00   1225363.00   1342716.00   1309583.00   1240693.00   953525.00    998228.00     8257842
17               Cambridge      2019-12-31          1343328.00   1439343.00   1453403.00   1316567.00   950394.00    964783.00    1146039.00    8613857
18               Cambridge      2020-01-31          1394372.00   1518273.00   1328071.00   942159.00    936745.00    1317120.00   1146674.00    8583414
19               Cambridge      2020-02-29          1502795.00   1233154.00   904316.00    930639.00    1250271.00   1239695.00   1143298.00    8204168
20               Cambridge      2020-03-31          1203005.00   875329.00    914651.00    1209873.00   1248684.00   1167846.00   1087269.00    7706657
21               Cambridge      2020-04-30          846376.00    906370.00    1237051.00   1141444.00   1116707.00   1074940.00   1035124.00    7358012
22               Cambridge      2020-05-31          910322.00    1409658.00   1303202.00   1269530.00   1035476.00   995774.00    1035497.00    7959459
23               Cambridge      2020-06-30          1414572.00   1271198.00   1097236.00   1009067.00   1055278.00   1044481.00   966068.00     7857900
24               Cambridge      2020-07-31          1287136.00   1147428.00   983548.00    1045248.00   1006447.00   983482.00    814279.00     7267568
25               Cambridge      2020-08-31          1118970.00   968716.00    1001809.00   1025988.00   978693.00    879839.00    352012.00     6326027
26               Chicago        2018-07-31          1734881.00   2174102.00   1837675.00   1948972.00   1592511.00   1846979.00   1973357.00    13108477
27               Chicago        2018-08-31          2190879.00   1963577.00   1808391.00   1563844.00   1833184.00   1954310.00   1404014.00    12718199
28               Chicago        2018-09-30          1868250.00   1915021.00   1713174.00   1750954.00   1888785.00   1760363.00   1750811.00    12647358
29               Chicago        2018-10-31          1883482.00   1692547.00   1778799.00   1908229.00   1690996.00   1737993.00   1756511.00    12448557
..                   ...               ...                 ...          ...          ...          ...          ...          ...          ...         ...
395              Teachers Guild 2020-06-30          62985.00     -2689.00     19324.00     22097.00     nan          nan          nan           101717
396              Teachers Guild 2020-07-31          7256.00      30234.00     31919.00     nan          nan          nan          nan           69409
397              Teachers Guild 2020-08-31          8313.00      10624.00     16506.00     nan          nan          nan          nan           35443
398              Tokyo          2018-07-31          697342.00    737923.00    711231.00    783383.00    735197.00    707625.00    782543.00     5155244
399              Tokyo          2018-08-31          748015.00    645298.00    770486.00    765458.00    711460.00    746168.00    785425.00     5172310
400              Tokyo          2018-09-30          710511.00    776406.00    783050.00    701801.00    742195.00    747484.00    748406.00     5209853
401              Tokyo          2018-10-31          745405.00    732385.00    708457.00    818897.00    737174.00    797527.00    828684.00     5368529
402              Tokyo          2018-11-30          730350.00    676366.00    742205.00    761957.00    754993.00    785497.00    779580.00     5230948
403              Tokyo          2018-12-31          736432.00    720209.00    744737.00    773412.00    786351.00    775912.00    747808.00     5284861
404              Tokyo          2019-01-31          765752.00    816594.00    766029.00    834235.00    787625.00    809863.00    731499.00     5511597
405              Tokyo          2019-02-28          805188.00    821130.00    815016.00    809207.00    767715.00    739924.00    671225.00     5429405
406              Tokyo          2019-03-31          829262.00    867691.00    798614.00    785828.00    797942.00    775699.00    696678.00     5551714
407              Tokyo          2019-04-30          878603.00    794073.00    771790.00    788743.00    791070.00    798600.00    791347.00     5614226
408              Tokyo          2019-05-31          795522.00    809492.00    792052.00    835516.00    830649.00    784495.00    769482.00     5617208
409              Tokyo          2019-06-30          837656.00    775973.00    780715.00    827069.00    756391.00    732520.00    701528.00     5411852
410              Tokyo          2019-07-31          801808.00    858269.00    831730.00    846630.00    792813.00    747663.00    763345.00     5642258
411              Tokyo          2019-08-31          920969.00    833946.00    795266.00    753585.00    729752.00    712780.00    757726.00     5504024
412              Tokyo          2019-09-30          901184.00    906974.00    836206.00    831248.00    804790.00    838897.00    854810.00     5974109
413              Tokyo          2019-10-31          813860.00    792289.00    747680.00    751044.00    806362.00    874563.00    722402.00     5508200
414              Tokyo          2019-11-30          785562.00    735438.00    768734.00    788092.00    827879.00    606999.00    615963.00     5128667
415              Tokyo          2019-12-31          775972.00    750665.00    767437.00    837684.00    638708.00    570427.00    607871.00     4948764
416              Tokyo          2020-01-31          679052.00    752931.00    727859.00    607553.00    509346.00    573021.00    556520.00     4406282
417              Tokyo          2020-02-29          794266.00    853097.00    699061.00    623645.00    557248.00    580330.00    529818.00     4637465
418              Tokyo          2020-03-31          835629.00    705461.00    615013.00    591613.00    570175.00    509347.00    422901.00     4250139
419              Tokyo          2020-04-30          687897.00    628714.00    567425.00    560466.00    547019.00    468259.00    433290.00     3893070
420              Tokyo          2020-05-31          619644.00    627151.00    576558.00    486650.00    522266.00    499928.00    457287.00     3789484
421              Tokyo          2020-06-30          588844.00    587665.00    493150.00    487400.00    503431.00    489312.00    466666.00     3616468
422              Tokyo          2020-07-31          585223.00    529699.00    486510.00    484977.00    470989.00    506432.00    469525.00     3533355
423              Tokyo          2020-08-31          522665.00    473125.00    438707.00    421188.00    448507.00    448962.00    125698.00     2878852
424              All            NaT                 324142778.00 324544732.00 322393824.00 319192277.00 314754745.00 312996874.00 302049469.00  2220074699

[425 rows x 10 columns]

In [31]:
#pivot by EOM1, Studio
forecast_final_pivot1 = forecast_final.pivot_table(index=['Snapshot_Date_Short','Relative_Offset'], columns='Studio', values='Forecast', aggfunc=np.sum, margins=True)
forecast_final_pivot1 = forecast_final_pivot1.reset_index(level=forecast_final_pivot1.index.names)
forecast_final_pivot1

Studio  Snapshot_Date_Short Relative_Offset    Cambridge      Chicago  Creative Leadership          D4C          D4L         Food      Global      Health       London       Munich     New York    OpenIDEO       SF OS     Shanghai        Super  Teachers Guild        Tokyo         All
0       2018-07-31 00:00:00  Relative-00    1218481.00   1734881.00   nan                  1218887.00   555190.00    542102.00    179099.00   nan         1032128.00   600981.00    881194.00    245948.00   225866.00   777408.00    1367849.00   88012.00        697342.00     11365368
1       2018-07-31 00:00:00  Relative-01    1490081.00   2174102.00   nan                  1159813.00   654849.00    648282.00    152351.00   nan         911462.00    521009.00    1006502.00   156364.00   207959.00   639905.00    1405277.00   83637.00        737923.00     11949516
2       2018-07-31 00:00:00  Relative-02    1320029.00   1837675.00   nan                  1093640.00   666868.00    581617.00    158326.00   nan         889702.00    576517.00    997286.00    142316.00   211943.00   690280.00    1418975.00   85720.00        711231.00     11382125
3       2018-07-31 00:00:00  Relative-03    1371801.00   1948972.00   nan                  1119241.00   675826.00    697350.00    146326.00   nan         940868.00    643022.00    1068636.00   200637.00   258163.00   704707.00    1788529.00   101813.00       783383.00     12449274
4       2018-07-31 00:00:00  Relative-04    1164510.00   1592511.00   nan                  1166392.00   617508.00    653851.00    241642.00   nan         840863.00    671690.00    918972.00    207398.00   202150.00   817753.00    1590333.00   92528.00        735197.00     11513298
5       2018-07-31 00:00:00  Relative-05    1043954.00   1846979.00   nan                  947960.00    645480.00    602833.00    165670.00   nan         883627.00    618171.00    769785.00    219451.00   245213.00   791407.00    1454573.00   97242.00        707625.00     11039970
6       2018-07-31 00:00:00  Relative-06    1260412.00   1973357.00   nan                  871010.00    637437.00    686028.00    nan         nan         884107.00    645337.00    761094.00    258826.00   277506.00   880603.00    1489647.00   149053.00       782543.00     11556960
7       2018-08-31 00:00:00  Relative-00    1521138.00   2190879.00   nan                  1127967.00   651300.00    633108.00    151410.00   nan         875992.00    519026.00    948579.00    174627.00   202651.00   593766.00    1364940.00   91162.00        748015.00     11794560
8       2018-08-31 00:00:00  Relative-01    1296199.00   1963577.00   nan                  1043776.00   725920.00    605287.00    163322.00   nan         882280.00    597111.00    993725.00    146492.00   213371.00   669078.00    1411558.00   84651.00        645298.00     11441645
9       2018-08-31 00:00:00  Relative-02    1388182.00   1808391.00   nan                  1127555.00   879514.00    811598.00    101781.00   nan         1001561.00   740683.00    994996.00    189980.00   235710.00   743882.00    1784919.00   94826.00        770486.00     12674064
10      2018-08-31 00:00:00  Relative-03    1127599.00   1563844.00   nan                  1176009.00   767703.00    655807.00    125141.00   nan         863653.00    688070.00    946848.00    160099.00   200553.00   868041.00    1511051.00   89981.00        765458.00     11509857
11      2018-08-31 00:00:00  Relative-04    1015171.00   1833184.00   nan                  1076088.00   741407.00    546383.00    73117.00    nan         847750.00    556363.00    752270.00    197349.00   252642.00   806242.00    1375950.00   91222.00        711460.00     10876598
12      2018-08-31 00:00:00  Relative-05    1206882.00   1954310.00   nan                  876432.00    665057.00    648812.00    158496.00   nan         922392.00    668330.00    737042.00    234939.00   238680.00   929137.00    1628348.00   76837.00        746168.00     11691862
13      2018-08-31 00:00:00  Relative-06    1180516.00   1404014.00   nan                  1086847.00   692216.00    676825.00    179460.00   nan         940535.00    670173.00    698104.00    301035.00   264550.00   770176.00    1485697.00   150739.00       785425.00     11286312
14      2018-09-30 00:00:00  Relative-00    1247662.00   1868250.00   nan                  1014080.00   726378.00    531775.00    167723.00   nan         834499.00    703630.00    978875.00    128534.00   244444.00   760208.00    1346418.00   112117.00       710511.00     11375104
15      2018-09-30 00:00:00  Relative-01    1410508.00   1915021.00   nan                  1118257.00   839648.00    903198.00    103466.00   nan         1067879.00   805118.00    1093699.00   182314.00   222430.00   758599.00    1636192.00   107883.00       776406.00     12940618
16      2018-09-30 00:00:00  Relative-02    1336379.00   1713174.00   nan                  1210282.00   604700.00    630801.00    201361.00   nan         896740.00    784436.00    892292.00    148667.00   256866.00   902186.00    1356492.00   102510.00       783050.00     11819936
17      2018-09-30 00:00:00  Relative-03    1060939.00   1750954.00   nan                  1023172.00   596128.00    598983.00    144968.00   nan         901934.00    613746.00    777042.00    179914.00   250513.00   790124.00    1393734.00   94028.00        701801.00     10877980
18      2018-09-30 00:00:00  Relative-04    1230411.00   1888785.00   nan                  875557.00    668934.00    649000.00    195894.00   nan         917528.00    601541.00    709619.00    289182.00   224115.00   914226.00    1484719.00   147046.00       742195.00     11538752
19      2018-09-30 00:00:00  Relative-05    1315271.00   1760363.00   nan                  1139355.00   513926.00    642232.00    134521.00   nan         978731.00    613013.00    712639.00    202720.00   264788.00   785360.00    1593360.00   131969.00       747484.00     11535732
20      2018-09-30 00:00:00  Relative-06    1236434.00   1750811.00   nan                  983058.00    553458.00    683298.00    200833.00   nan         1104421.00   727169.00    917825.00    224944.00   303932.00   757344.00    1566125.00   169047.00       748406.00     11927105
21      2018-10-31 00:00:00  Relative-00    1458893.00   1883482.00   nan                  1088277.00   753837.00    986868.00    121679.00   nan         1031740.00   725174.00    1097851.00   205823.00   277477.00   651373.00    1584939.00   85460.00        745405.00     12698278
22      2018-10-31 00:00:00  Relative-01    1349557.00   1692547.00   nan                  1173735.00   609206.00    665903.00    198721.00   nan         882987.00    852448.00    981681.00    188771.00   214703.00   942174.00    1361968.00   106855.00       732385.00     11953641
23      2018-10-31 00:00:00  Relative-02    1046110.00   1778799.00   nan                  1053898.00   619849.00    623557.00    78570.00    nan         869656.00    735861.00    874206.00    177294.00   261906.00   730193.00    1374767.00   108242.00       708457.00     11041365
24      2018-10-31 00:00:00  Relative-03    1211325.00   1908229.00   nan                  1012176.00   631990.00    624344.00    192805.00   nan         928625.00    665796.00    764006.00    196114.00   208737.00   865499.00    1460062.00   144010.00       818897.00     11632615
25      2018-10-31 00:00:00  Relative-04    1220524.00   1690996.00   nan                  1080155.00   694652.00    681781.00    58249.00    nan         850034.00    610934.00    623618.00    220235.00   205472.00   765347.00    1524812.00   111251.00       737174.00     11075234
26      2018-10-31 00:00:00  Relative-05    1286351.00   1737993.00   nan                  1184514.00   709010.00    753350.00    88452.00    nan         968732.00    700852.00    876976.00    232535.00   242797.00   853957.00    1511076.00   88917.00        797527.00     12033039
27      2018-10-31 00:00:00  Relative-06    1133820.00   1756511.00   nan                  1134612.00   640815.00    717566.00    nan         nan         1030922.00   772627.00    780161.00    336339.00   303097.00   913477.00    1323761.00   nan             828684.00     11672392
28      2018-11-30 00:00:00  Relative-00    1194808.00   1676913.00   nan                  1137355.00   588296.00    591472.00    257636.00   nan         866362.00    784602.00    981303.00    157534.00   223263.00   998099.00    1331025.00   92385.00        730350.00     11611403
29      2018-11-30 00:00:00  Relative-01    995962.00    1967216.00   nan                  914701.00    581298.00    570092.00    68760.00    nan         813191.00    666747.00    901164.00    200124.00   282907.00   696006.00    1319678.00   84367.00        676366.00     10738579
..                      ...          ...          ...           ...    ..                        ...          ...          ...         ...     ..               ...          ...          ...          ...         ...         ...           ...        ...              ...          ...
153     2020-04-30 00:00:00  Relative-06    1035124.00   1680102.00   nan                  838360.00    484069.00    541541.00    213565.00   480941.00   975823.00    435824.00    450488.00    245125.00   226546.00   525736.00    2318502.00   62282.00        433290.00     10947318
154     2020-05-31 00:00:00  Relative-00    910322.00    1540510.00   -4575.00             933403.00    419589.00    354279.00    4210.00     808495.00   1015005.00   394866.00    316108.00    171349.00   252529.00   453838.00    2521135.00   58588.00        619644.00     10769295
155     2020-05-31 00:00:00  Relative-01    1409658.00   1336900.00   11716.00             1009791.00   499591.00    462539.00    202752.00   708530.00   937565.00    422126.00    442552.00    186224.00   221311.00   463986.00    2701488.00   59075.00        627151.00     11702955
156     2020-05-31 00:00:00  Relative-02    1303202.00   1873363.00   35790.00             948917.00    545776.00    464136.00    226002.00   702434.00   1014975.00   425979.00    463249.00    211610.00   207033.00   534854.00    2807790.00   22855.00        576558.00     12364523
157     2020-05-31 00:00:00  Relative-03    1269530.00   1539984.00   11721.00             884878.00    501599.00    445388.00    169656.00   627036.00   976535.00    471854.00    448465.00    190124.00   212964.00   494882.00    2682470.00   14600.00        486650.00     11428336
158     2020-05-31 00:00:00  Relative-04    1035476.00   1549421.00   21789.00             889790.00    506123.00    449676.00    195159.00   581045.00   1006719.00   444092.00    452553.00    212747.00   206927.00   490686.00    2507868.00   36020.00        522266.00     11108357
159     2020-05-31 00:00:00  Relative-05    995774.00    1629323.00   24493.00             865774.00    512323.00    477516.00    213397.00   500987.00   943577.00    435000.00    459914.00    196744.00   241038.00   503210.00    2510617.00   39382.00        499928.00     11048997
160     2020-05-31 00:00:00  Relative-06    1035497.00   1626718.00   22891.00             830772.00    508529.00    475336.00    279478.00   460974.00   955492.00    446322.00    415571.00    198875.00   217128.00   497995.00    2352843.00   nan             457287.00     10781708
161     2020-06-30 00:00:00  Relative-00    1414572.00   1354241.00   20622.00             990316.00    518402.00    460119.00    187400.00   636955.00   952685.00    422085.00    490736.00    191753.00   244522.00   519465.00    2785335.00   62985.00        588844.00     11841037
162     2020-06-30 00:00:00  Relative-01    1271198.00   1937170.00   15923.00             906324.00    547930.00    467773.00    199621.00   643056.00   1003029.00   394574.00    390235.00    185199.00   181937.00   604965.00    2807761.00   -2689.00        587665.00     12141671
163     2020-06-30 00:00:00  Relative-02    1097236.00   1616419.00   15368.00             851765.00    576530.00    484187.00    157206.00   664998.00   959257.00    409876.00    432282.00    187605.00   218085.00   556375.00    2675440.00   19324.00        493150.00     11415103
164     2020-06-30 00:00:00  Relative-03    1009067.00   1600855.00   13411.00             877749.00    511213.00    465059.00    161126.00   672056.00   1073830.00   438302.00    428560.00    194758.00   207486.00   519840.00    2453784.00   22097.00        487400.00     11136593
165     2020-06-30 00:00:00  Relative-04    1055278.00   1653550.00   22627.00             892801.00    468442.00    487713.00    190224.00   498179.00   1000172.00   479997.00    457656.00    197896.00   246045.00   476740.00    2545021.00   nan             503431.00     11175772
166     2020-06-30 00:00:00  Relative-05    1044481.00   1618643.00   24092.00             859783.00    512986.00    465029.00    215955.00   511292.00   963812.00    480403.00    465479.00    196339.00   231518.00   495604.00    2282091.00   nan             489312.00     10856819
167     2020-06-30 00:00:00  Relative-06    966068.00    1555645.00   21695.00             860550.00    447701.00    482909.00    175645.00   434298.00   918095.00    474754.00    429338.00    202161.00   217603.00   466517.00    2239399.00   nan             466666.00     10359044
168     2020-07-31 00:00:00  Relative-00    1287136.00   1990068.00   6148.00              893373.00    640511.00    499943.00    186596.00   723001.00   1079450.00   374126.00    386247.00    203483.00   192857.00   592056.00    2802847.00   7256.00         585223.00     12450321
169     2020-07-31 00:00:00  Relative-01    1147428.00   1752213.00   14864.00             869873.00    633684.00    424102.00    133185.00   705321.00   963710.00    408095.00    435458.00    207551.00   204313.00   570216.00    2672917.00   30234.00        529699.00     11702863
170     2020-07-31 00:00:00  Relative-02    983548.00    1672478.00   5140.00              884847.00    560406.00    445396.00    165406.00   658797.00   1056006.00   453672.00    446366.00    205369.00   214070.00   489665.00    2440634.00   31919.00        486510.00     11200229
171     2020-07-31 00:00:00  Relative-03    1045248.00   1630411.00   5984.00              870622.00    506481.00    445396.00    143226.00   616241.00   1013041.00   445133.00    450141.00    210620.00   221843.00   475155.00    2396015.00   nan             484977.00     10960534
172     2020-07-31 00:00:00  Relative-04    1006447.00   1647661.00   18365.00             883799.00    436250.00    486284.00    199189.00   575000.00   956788.00    466726.00    407538.00    210655.00   250561.00   461941.00    2298959.00   nan             470989.00     10777152
173     2020-07-31 00:00:00  Relative-05    983482.00    1661012.00   19736.00             854075.00    507667.00    488161.00    214939.00   505481.00   862699.00    462376.00    449587.00    175743.00   235981.00   495010.00    2371553.00   nan             506432.00     10793934
174     2020-07-31 00:00:00  Relative-06    814279.00    1549097.00   20610.00             764681.00    444873.00    438127.00    188737.00   474901.00   790801.00    448617.00    424017.00    230510.00   225911.00   461144.00    2281121.00   nan             469525.00     10026951
175     2020-08-31 00:00:00  Relative-00    1118970.00   1824678.00   -3841.00             855917.00    531945.00    387455.00    149570.00   680211.00   946958.00    411516.00    392289.00    198448.00   205280.00   553858.00    2608251.00   8313.00         522665.00     11392483
176     2020-08-31 00:00:00  Relative-01    968716.00    1645629.00   -14980.00            855740.00    468259.00    442529.00    87854.00    579884.00   1051393.00   457288.00    385470.00    185518.00   202770.00   494186.00    2422852.00   10624.00        473125.00     10716857
177     2020-08-31 00:00:00  Relative-02    1001809.00   1601794.00   -20150.00            841845.00    426659.00    443434.00    167868.00   589226.00   993172.00    440765.00    352210.00    189622.00   173377.00   408010.00    2437416.00   16506.00        438707.00     10502270
178     2020-08-31 00:00:00  Relative-03    1025988.00   1551145.00   -5253.00             886227.00    397619.00    444723.00    175381.00   578619.00   926983.00    449163.00    345716.00    194022.00   221861.00   426938.00    2293344.00   nan             421188.00     10333664
179     2020-08-31 00:00:00  Relative-04    978693.00    1602199.00   3686.00              852870.00    447112.00    449371.00    193145.00   580801.00   852954.00    465265.00    367564.00    182386.00   199222.00   428871.00    2336877.00   nan             448507.00     10389523
180     2020-08-31 00:00:00  Relative-05    879839.00    1516208.00   12693.00             773113.00    406443.00    389433.00    171457.00   447888.00   759745.00    397454.00    431026.00    221159.00   240355.00   447154.00    2293951.00   nan             448962.00     9836880
181     2020-08-31 00:00:00  Relative-06    352012.00    582387.00    nan                  277435.00    111703.00    119137.00    -35906.00   177374.00   284617.00    88871.00     62874.00     29882.00    40648.00    203256.00    1145672.00   nan             125698.00     3565660
182     All                                 219548305.00 316176115.00 4768114.00           194081032.00 111269920.00 111517064.00 26702567.00 60806684.00 193856731.00 107872463.00 123707730.00 40057789.00 46411711.00 123924690.00 399158696.00 11946204.00     128268884.00  2220074699

[183 rows x 20 columns]

In [ ]:
****************************************************************************************************
STOP
#Add Revenue History Column
#revpipe_final = pd.read_csv("revpipe_final.csv")
#revpipe_final1 = revpipe_final[['Snapshot_Date_Short','End_of_Month','Relative_Offset','Studio','Revenue']]
#revpipe_final1
#revpipe_forecast1 = pd.merge(revpipe_forecast, revpipe_final, how='left', on=['Snapshot_Date_Short','End_of_Month','Relative_Month_Offset','Studio'])

In [ ]:
**************************************************************
#Append History Revenue with Forecast
revexphist2 = pd.read_csv("revexphist1.csv")
append_revforcast = revexphist2.append(df2, ignore_index=True, sort=True)
#pd.merge(combine_df2, revhistorydiff, how='inner', on=['End_of_Month','Studio'])
append_revforcast['EOM1'] = pd.to_datetime(append_revforcast['End_of_Month']).dt.date.astype(str)
append_revforcast['End_of_Month'] = pd.to_datetime(append_revforcast['End_of_Month'])
#append_revforcast['Relative_Month_Offset'] = append_revforcast['End_of_Month'].dt.to_period('M') - pd.to_datetime('today').to_period('M')
append_revforcast['Relative_Month_Offset'] = round((append_revforcast['End_of_Month'] - current_eom)/np.timedelta64(1,'M'),0)
cols = append_revforcast.filter(like='Relative_Month_Offset', axis=1).columns
coerce_df_columns_to_numeric(append_revforcast, cols)
append_revforcast = append_revforcast.replace(np.nan, 0, regex=True)
cols = list(append_revforcast.select_dtypes(include='float64').columns)
cols_float1 = append_revforcast.filter(like='Rate', axis=1).columns
cols_float2 = append_revforcast.filter(like='Yield', axis=1).columns
cols_float3 = append_revforcast.filter(like='Diff%', axis=1).columns
cols_float = addlist(cols_float1,cols_float2)
cols_float = addlist(cols_float,cols_float3)
coerce_df_columns_to_numeric(append_revforcast, cols)
#cols = ['Revenue','forecast','origin','Relative_Month_Offset']
#coerce_df_columns_to_numeric(append_revforcast, cols)
append_revforcast['Revenue_Forecast'] = append_revforcast['Revenue'] + append_revforcast['forecast']
append_revforcast = append_revforcast.sort_values(by=['End_of_Month','Studio']).reset_index(drop=True)
append_revforcast =append_revforcast.replace(np.nan, 0, regex=True)
append_revforcast = append_revforcast.pivot_table(index=['End_of_Month','Relative_Month_Offset','Studio'],values=['Revenue','forecast','Revenue_Forecast'],aggfunc=sum)
append_revforcast = append_revforcast.reset_index(level=append_revforcast.index.names)
#write to file
#append_revforcast.to_csv("append_revforcast.csv", index=False)
display("append_revforcast info:")
show_stats(append_revforcast)
display(append_revforcast.query('Studio==@studio_debug'))

In [ ]:
#Merge with Pipeline when month and snapshot month are same
pipehist21 = pd.read_csv("pipetalentrev_final.csv")
pipehist21['End_of_Month'] = pd.to_datetime(pipehist21['End_of_Month'])
cols = list(pipehist21.select_dtypes(include='float64').columns)
cols_float1 = pipehist21.filter(like='Rate', axis=1).columns
cols_float2 = pipehist21.filter(like='Yield', axis=1).columns
cols_float3 = pipehist21.filter(like='Diff%', axis=1).columns
cols_float = addlist(cols_float1,cols_float2)
cols_float = addlist(cols_float,cols_float3)
#display(pipehist21.info())
coerce_df_columns_to_numeric(pipehist21, cols)
#Merge revenue forecast with pipehistory
forcastrevpipe = pd.merge(pipehist21, append_revforcast, how='left', on=['End_of_Month','Relative_Month_Offset','Studio','Revenue'])
forcastrevpipe = forcastrevpipe.replace(np.nan, 0, regex=True)
forcastrevpipe['End_of_Month'] = pd.to_datetime(forcastrevpipe['End_of_Month'])
forcastrevpipe['EOM1'] = pd.to_datetime(forcastrevpipe['End_of_Month']).dt.date.astype(str)
forcastrevpipe['Relative_Month_Offset'] = round((forcastrevpipe['End_of_Month'] - current_eom)/np.timedelta64(1,'M'),0)
cols = forcastrevpipe.filter(like='Relative_Month_Offset', axis=1).columns
coerce_df_columns_to_numeric(forcastrevpipe, cols)
#show_stats(forcastrevpipe)
forcastrevpipe['Revenue_Forecast'] = forcastrevpipe['Revenue'] + forcastrevpipe['forecast']
forcastrevpipe['Diff'] = forcastrevpipe['Revenue_Forecast'] - forcastrevpipe['Pipeline']
forcastrevpipe['Diff%'] = round(forcastrevpipe['Diff'] / forcastrevpipe['Pipeline'],4)
cols = list(forcastrevpipe.select_dtypes(include='float64').columns)
cols_float1 = forcastrevpipe.filter(like='Rate', axis=1).columns
cols_float2 = forcastrevpipe.filter(like='Yield', axis=1).columns
cols_float3 = forcastrevpipe.filter(like='Diff%', axis=1).columns
cols_float = addlist(cols_float1,cols_float2)
cols_float = addlist(cols_float,cols_float3)
coerce_df_columns_to_numeric(forcastrevpipe, cols)
forcastrevpipe.replace([np.inf, -np.inf], np.nan, inplace=True)
forcastrevpipe = forcastrevpipe.replace(np.nan, 0, regex=True)
display("forcastrevpipe info:")
show_stats(forcastrevpipe)
forcastrevpipe.to_csv("forcastrevpipe.csv")
display(forcastrevpipe.query('Studio==@studio_debug'))

In [ ]:
#pipehist21.drop(columns=['Snapshot_Date_Short','Relative_Snapshot_Month_Offset'], axis=1, inplace = True)
#pipe_offset = ['Pipeline-00','Pipeline-01','Pipeline-02','Pipeline-03',
#               'Pipeline-04','Pipeline-05','Pipeline-06','Pipeline-07',
#               'Pipeline-08','Pipeline-09','Pipeline-10','Pipeline-11'
#              ]
#forcastrevpipe1 = forcastrevpipe.query('(Relative_Offset in  @pipe_offset) or (Relative_Snapshot_Month_Offset == 0 and Relative_Month_Offset > 0)').reset_index(drop=True)
forcastrevpipe1 = forcastrevpipe.query('EOM1 >= "2018-07-01"')
forcastrevpipe_pivot1 = forcastrevpipe1.pivot_table(index=['End_of_Month','Relative_Month_Offset','EOM1','Studio'],# columns=[],
                       values=['Revenue','Revenue_Forecast','Pipeline','Diff','Diff%'],
                       aggfunc={'Revenue':np.sum,'Revenue_Forecast':np.sum,'Pipeline':np.sum,'Diff':np.sum,'Diff%':np.mean},
                       margins=False)#.reset_index()

forcastrevpipe_pivot1 = forcastrevpipe_pivot1.reset_index(level=forcastrevpipe_pivot1.index.names)
forcastrevpipe_pivot1 = forcastrevpipe_pivot1.query('Relative_Month_Offset < @forecast_horizon')
cols = forcastrevpipe_pivot1.filter(like='Relative_Month_Offset', axis=1).columns
coerce_df_columns_to_numeric(forcastrevpipe_pivot1, cols)
#cols = ['Revenue','forecast','origin','Relative_Month_Offset','Revenue_Forecast','Pipeline','Diff']
forcastrevpipe_pivot1 = forcastrevpipe_pivot1.sort_values(by=['End_of_Month','Studio']).reset_index(drop=True)
#forcastrevpipe['Snapshot_Date_Short'] = pd.to_datetime(forcastrevpipe['Snapshot_Date_Short'])
print("\n forcastrevpipe_pivot1: \n")
#display(forcastrevpipe1.info())
#write to file
forcastrevpipe.to_csv("forcastrevpipe_pivot1.csv", index=False)
display("forcastrevpipe_pivot1 info:")
show_stats(forcastrevpipe_pivot1)
display(forcastrevpipe_pivot1.query('Studio==@studio_debug'))

In [ ]:
# Analyze by end of month pipeline - revenue Diff%
fig, ax = plt.subplots(figsize=(20,11))
plt.xticks(rotation=-45)
sns.lineplot(x= 'Relative_Month_Offset', y= 'Diff%', hue='Studio', #style='Studio',
             data=forcastrevpipe_pivot1,
             palette="Accent", 
             ci=None, marker="o")
#sns.lineplot(x= 'End_of_Month', y= 'Revenue_Forecast', hue='Studio', #style='Studio',
#             data=forcastrevpipe.query('Relative_Month_Offset >= 0'), 
#             #palette=palette, 
#             ci=None, linewidth=4, marker="o")
#xs=forcastrevpipe['Relative_Month_Offset']
#ys=forcastrevpipe['Diff%']
#for x,y in zip(xs,ys):

#    label = "{:,.0f}".format(y)# + "K"

#    ax.annotate(label, # this is the text
#                 (x,y), # this is the point to label
#                 textcoords="offset points", # how to position the text
#                 xytext=(0,10), # distance from text to points (x,y)
#                 color='black',
#                 ha='center') # horizontal alignment can be left, right or center

#sns.lineplot(x= 'End_of_Month', y= 'forecast', #hue='Studio', style='Studio',
#             data=combine_histforcast, color="r", ci=None)
#ys=combine_histforcast['forecast']
#for x,y in zip(xs,ys):

#    label = "{:.0f}".format(y)

#    ax.annotate(label, # this is the text
#                 (x,y), # this is the point to label
#                 textcoords="offset points", # how to position the text
#                 xytext=(0,10), # distance from text to points (x,y)
#                 color='r',
#                 ha='center') # horizontal alignment can be left, right or center
#ax.legend(['Revenue', 'Revenue forecast'], facecolor='w')
#plt.axvline(x=current_eom, linewidth=2, color='r')
ax.set_title(label="Distribution of Diff% between Revenue - Forecast by Offset, Months", fontsize=20)
plt.show()

In [ ]:

forcastrevpipe_pivot2 = forcastrevpipe_pivot1.copy()
forcastrevpipe_pivot2 =forcastrevpipe_pivot2.replace(np.nan, 0, regex=True)
#forcastrevpipe_pivot2 = forcastrevpipe_pivot2.reset_index(level=forcastrevpipe_pivot2.index.names)
forcastrevpipe_pivot2.info()
forcastrevpipe_pivot2

In [ ]:
forcastrevpipe_pivot21 = forcastrevpipe_pivot1.query('Relative_Month_Offset >=0').pivot_table(index=['Studio','Relative_Month_Offset'], columns=['EOM1'],
                       values=['Revenue', 'Revenue_Forecast','Pipeline','Diff','Diff%'],
                       aggfunc={'Revenue':np.sum,'Revenue_Forecast':np.sum,'Pipeline':np.sum,'Diff':np.sum,'Diff%':np.mean},
                       margins=False)#.reset_index()
#forcastrevpipe1['Revenue_Forecast'] = round(forcastrevpipe1['Revenue_Forecast']/1000,3)
forcastrevpipe_pivot21 = forcastrevpipe_pivot21.replace(np.nan, 0, regex=True)
forcastrevpipe_pivot21 = forcastrevpipe_pivot21.reset_index(level=forcastrevpipe_pivot21.index.names)
forcastrevpipe_pivot21.info()
forcastrevpipe_pivot21.head()

In [ ]:
# multiple line plot
#Set themes
import matplotlib.pyplot as plt
#plot
sns.set()
sns.set_context("poster") #In order of relative size they are: paper, notebook, talk, and poster. Notebook is default
sns.set(style="whitegrid") #Seaborn has five built-in themes to style its plots: darkgrid, whitegrid, dark, white, and ticks. 
# Save a palette to a variable:
palette = sns.color_palette("Accent",8)
# Use palplot and pass in the variable:
#sns.palplot(palette)
# Set the palette using the name of a palette:
#sns.set_palette(palette)

In [ ]:
fig, ax = plt.subplots(figsize=(24,9))
plt.xticks(rotation=-45)
#today_eom = today + pd.offsets.MonthEnd(0) 
forcastrevpipe22 = forcastrevpipe_pivot1.groupby(by=['End_of_Month','Relative_Month_Offset','EOM1'], as_index=False)
forcastrevpipe22 = forcastrevpipe22.sum().reset_index(drop=True)
#forcastrevpipe22 = forcastrevpipe22.query('EOM1 >= "2018-07-01"')
display(forcastrevpipe22)
div_by_thousand = 1000
div_by_mil = 1000000
forcastrevpipe22[['Revenue_Forecast','Pipeline','Diff']] = forcastrevpipe22[['Revenue_Forecast','Pipeline','Diff']].div(div_by_mil, axis=0)
sns.lineplot(x= 'End_of_Month', y= 'Revenue_Forecast', #hue='Relative_Month_Offset', style='Relative_Month_Offset',
             data=forcastrevpipe22.query('Relative_Month_Offset <= 0'), color="grey", ci=None, marker="o")
sns.lineplot(x= 'End_of_Month', y= 'Revenue_Forecast', #hue='Relative_Month_Offset', style='Relative_Month_Offset',
             data=forcastrevpipe22.query('Relative_Month_Offset >= 0'), color="g", ci=None, linewidth=4, marker="o")
xs=forcastrevpipe22['End_of_Month']
ys=forcastrevpipe22['Revenue_Forecast']
for x,y in zip(xs,ys):

    label = "{:,.1f}".format(y)# + "K"

    ax.annotate(label, # this is the text
                 (x,y), # this is the point to label
                 textcoords="offset points", # how to position the text
                 xytext=(0,10), # distance from text to points (x,y)
                 color='black',
                 ha='center') # horizontal alignment can be left, right or center

sns.lineplot(x= 'End_of_Month', y= 'Pipeline', #hue='Studio', style='Studio',
             data=forcastrevpipe22, color="b", ci=None, marker="o")
#ys=combine_histforcast['forecast']
#for x,y in zip(xs,ys):

#    label = "{:.0f}".format(y)

#    ax.annotate(label, # this is the text
#                 (x,y), # this is the point to label
#                 textcoords="offset points", # how to position the text
#                 xytext=(0,10), # distance from text to points (x,y)
#                 color='r',
#                 ha='center') # horizontal alignment can be left, right or center
ax.legend(['Revenue','Forecast', 'Pipeline'], facecolor='w')
plt.axvline(x=current_eom, linewidth=2, color='r')
ax.set_title(label="Revenue and Forecast by Months (in Millions)", fontsize=20)
plt.show()

In [ ]:
fig, ax = plt.subplots(figsize=(24,9))
values = forcastrevpipe22['Relative_Month_Offset'].unique()
clrs = ['grey' if (x < 0) else 'g' for x in values ]
forcastrevpipe21=forcastrevpipe22.copy()
#forcastrevpipe2['Revenue_Forecast'] = round(forcastrevpipe2['Revenue_Forecast']/div_by_mil,4)
#forcastrevpipe2['Diff'] = round(forcastrevpipe2['Diff']/div_by_mil,4)
g = sns.barplot(x="EOM1", y="Revenue_Forecast", ci=None,
                data=forcastrevpipe21,
                palette=clrs, #alpha=0.50,
                ax=ax
               )
#g.map(plt.axhline, y=today, ls='--', c='red')
plt.xticks(rotation=90)
#plt.axvline(x=today_eom, linewidth=2, color='r')
plt.title("Revenue & Forecast by Month (in Millions)",fontsize =18)
for p in g.patches:
    g.annotate("{:,.1f}".format(p.get_height()), (p.get_x() + p.get_width() / 2., p.get_height()), 
               ha = 'center', va = 'center', xytext = (0, 10), textcoords = 'offset points')
#ax2 = ax.twinx()    
#sns.lineplot(x= 'EOM1', y= 'Diff', #hue='Studio',# style='Studio',
#             data=forcastrevpipe2, ci=None, 
#             color="r", marker="o", 
#            ax=ax2)   
#xs=forcastrevpipe2['EOM1']
#ys=forcastrevpipe2['Diff']
#for x,y in zip(xs,ys):

#    label = "{:,.0f}".format(y*1000) + "K"

#    ax2.annotate(label, # this is the text
#                 (x,y), # this is the point to label
#                 textcoords="offset points", # how to position the text
#                 xytext=(0,10), # distance from text to points (x,y)
#                 color='r',
#                 ha='center') # horizontal alignment can be left, right or center
g.legend(['Revenue','Forecast'], facecolor='w')
plt.show()

In [ ]:
fig, ax = plt.subplots(figsize=(24,9))
forcastrevpipe21=forcastrevpipe22.copy().query('EOM1>="2018-07-01"')
values = forcastrevpipe21['Relative_Month_Offset'].unique()
clrs = ['grey' if (x < 0) else 'g' for x in values ]
#forcastrevpipe2['Revenue_Forecast'] = round(forcastrevpipe2['Revenue_Forecast']/div_by_mil,3)
#forcastrevpipe2['Diff'] = round(forcastrevpipe2['Diff']/div_by_mil,3)
sns.lineplot(x= 'EOM1', y= 'Pipeline', #hue='Studio',# style='Studio',
             data=forcastrevpipe21, ci=None, 
             color="b", marker="o", 
            ax=ax) 
g = sns.barplot(x="EOM1", y="Revenue_Forecast", ci=None,
                data=forcastrevpipe21,
                palette=clrs, alpha=0.50,
                ax=ax
               )
#g.map(plt.axhline, y=today, ls='--', c='red')
plt.xticks(rotation=90)
#plt.axvline(x=today_eom, linewidth=2, color='r')
plt.title("Difference between Revenue_Forecast and Pipeline by Month (in Millions)",fontsize =18)
for p in g.patches:
    g.annotate("{:,.1f}".format(p.get_height()), (p.get_x() + p.get_width() / 2., p.get_height()), 
               ha = 'center', va = 'center', xytext = (0, 10), textcoords = 'offset points', alpha=0.5)
ax2 = ax.twinx()    
sns.lineplot(x= 'EOM1', y= 'Diff', #hue='Studio',# style='Studio',
             data=forcastrevpipe21, ci=None, 
             color="r", marker="o", 
            ax=ax2)   
xs=forcastrevpipe21['EOM1']
ys=forcastrevpipe21['Diff']
for x,y in zip(xs,ys):

    label = "{:,.2f}".format(y) + "K"

    ax2.annotate(label, # this is the text
                 (x,y), # this is the point to label
                 textcoords="offset points", # how to position the text
                 xytext=(0,10), # distance from text to points (x,y)
                 color='r',
                 ha='center') # horizontal alignment can be left, right or center
ax.legend(['Pipeline','Revenue'], facecolor='w')
#ax2.legend(['Diff'], facecolor='w')
plt.show()

In [ ]:
fig, ax = plt.subplots(figsize=(20,11))
plt.xticks(rotation=-45)
sns.lineplot(x= 'End_of_Month', y= 'Revenue_Forecast', hue='Studio', #style='Studio',
             data=forcastrevpipe_pivot1,
             palette="Accent", 
             ci=None, marker="o")
#sns.lineplot(x= 'End_of_Month', y= 'Revenue_Forecast', hue='Studio', #style='Studio',
#             data=forcastrevpipe.query('Relative_Month_Offset >= 0'), 
#             #palette=palette, 
#             ci=None, linewidth=4, marker="o")
xs=forcastrevpipe_pivot1['End_of_Month']
ys=forcastrevpipe_pivot1['Revenue_Forecast']
#for x,y in zip(xs,ys):

#    label = "{:,.0f}".format(y)# + "K"

#    ax.annotate(label, # this is the text
#                 (x,y), # this is the point to label
#                 textcoords="offset points", # how to position the text
#                 xytext=(0,10), # distance from text to points (x,y)
#                 color='black',
#                 ha='center') # horizontal alignment can be left, right or center

#sns.lineplot(x= 'End_of_Month', y= 'forecast', #hue='Studio', style='Studio',
#             data=combine_histforcast, color="r", ci=None)
#ys=combine_histforcast['forecast']
#for x,y in zip(xs,ys):

#    label = "{:.0f}".format(y)

#    ax.annotate(label, # this is the text
#                 (x,y), # this is the point to label
#                 textcoords="offset points", # how to position the text
#                 xytext=(0,10), # distance from text to points (x,y)
#                 color='r',
#                 ha='center') # horizontal alignment can be left, right or center
#ax.legend(['Revenue', 'Revenue forecast'], facecolor='w')
plt.axvline(x=current_eom, linewidth=2, color='r')
ax.set_title(label="Revenue and Forecast by Studio, Months", fontsize=20)
plt.show()

In [ ]:
values = forcastrevpipe_pivot1['Relative_Month_Offset'].unique()
clrs = ['grey' if (x < 0) else 'g' for x in values ]
g = sns.catplot(x="End_of_Month", y="Revenue_Forecast", col="Studio", 
                col_wrap=2, legend=True, margin_titles=True,
                data=forcastrevpipe_pivot1, kind="bar", ci=None,
                height=5, aspect=2.5, 
                palette=clrs
               ).set_xticklabels(rotation=-45)
#g.map(plt.axhline, y=today_eom, ls='--', c='red')
g.set_xticklabels(rotation=-45)
plt.subplots_adjust(top=0.95)
plt.suptitle('Revenue and Forecast',fontsize=24)
#axes = g.axes
#for p in axes.patches:
#    axes.annotate('{:.0f}'.format(100*p.get_height()), (p.get_x() + p.get_width() / 2., p.get_height()), 
#               ha = 'center', va = 'center', xytext = (0, 10), textcoords = 'offset points')
plt.show()

In [ ]:
#Combine with diff_mean2
diff_mean1 = pd.read_csv('diff_mean.csv')
#forcastrevpipe1['Revenue_Forecast'] = round(forcastrevpipe1['Revenue_Forecast']/1000,3)
diff_mean1['Relative_Month_Offset'] = pd.to_numeric(diff_mean1['Relative_Offset'].str[-3:])*-1
diff_mean2 = pd.merge(forcastrevpipe_pivot1, diff_mean1, how='left', on=['Relative_Month_Offset','Studio'])
diff_mean2['New_Forecast'] = (diff_mean2[['Revenue_Forecast','Pipeline']].max(axis=1))*(1+diff_mean2['Mean'])
diff_mean2 = diff_mean2.replace(np.nan, 0, regex=True)
#write to file
#diff_mean2.to_csv("diff_mean2.csv", index=False)
display("diff_mean2 info:")
show_stats(diff_mean2)
diff_mean2.query('Studio==@studio_debug')

In [ ]:
values = diff_mean2['Relative_Month_Offset'].unique()
clrs = ['grey' if (x < 0) else 'g' for x in values ]
g = sns.catplot(x="Relative_Month_Offset", y="New_Forecast",# col="Studio", 
                #col_wrap=2, legend=True, margin_titles=True,
                data=diff_mean2, kind="bar", ci=None,
                height=10, aspect=2.5, 
                palette=clrs
               ).set_xticklabels(rotation=-45)
#g.map(plt.axhline, y=today_eom, ls='--', c='red')
g.set_xticklabels(rotation=-45)
plt.subplots_adjust(top=0.95)
plt.suptitle('Revenue and Forecast',fontsize=24)
axes = g.ax
for p in axes.patches:
    axes.annotate('{:.0f}'.format(100*p.get_height()), (p.get_x() + p.get_width() / 2., p.get_height()), 
               ha = 'center', va = 'center', xytext = (0, 10), textcoords = 'offset points')
plt.show()

In [ ]:
Combine with input dataset
#df.columns = df.columns.astype(str).str.replace(" ", "_")
combine_df = pd.merge(df3, df, how='inner', on=['End_of_Month','Studio'])
combine_df2 = combine_df.copy()

combine_df2["Pipeline000-_Diff"] = (combine_df2['forecast']-combine_df2["Pipeline000-"])
combine_df2["Pipeline000-_Diff%"] = round(combine_df2["Pipeline000-_Diff"]/combine_df2["Pipeline000-"],4)
combine_df2["Pipeline001-_Diff"] = (combine_df2['forecast']-combine_df2["Pipeline001-"])
combine_df2["Pipeline001-_Diff%"] = round(combine_df2["Pipeline001-_Diff"]/combine_df2["Pipeline001-"],4)
combine_df2["Pipeline002-_Diff"] = (combine_df2['forecast']-combine_df2["Pipeline002-"])
combine_df2["Pipeline002-_Diff%"] = round(combine_df2["Pipeline002-_Diff"]/combine_df2["Pipeline002-"],4)
combine_df2["Pipeline003-_Diff"] = (combine_df2['forecast']-combine_df2["Pipeline003-"])
combine_df2["Pipeline003-_Diff%"] = round(combine_df2["Pipeline003-_Diff"]/combine_df2["Pipeline003-"],4)
combine_df2 = combine_df2.replace(np.nan, 0, regex=True)
#combine_df2 = combine_df2.sort_index(axis=1)
#write to file
combine_df2.to_csv("revforecastpredicted.csv", index=False)
display("combine_df2 info:")
show_stats(combine_df2)
display(combine_df2)

In [ ]:
combine_df2.query('Relative_Month_Offset==0').pivot_table(index=['End_of_Month', 'Studio'],# columns=[],
                       values=["forecast", "Pipeline000-", "Pipeline000-_Diff", "Pipeline000-_Diff%",
                              "Pipeline001-", "Pipeline001-_Diff", "Pipeline001-_Diff%",
                              "Pipeline002-", "Pipeline002-_Diff", "Pipeline002-_Diff%",
                              "Pipeline003-", "Pipeline003-_Diff", "Pipeline003-_Diff%"
                              ],
                       aggfunc={"forecast": np.sum, "Pipeline000-": np.sum, "Pipeline000-_Diff": np.sum, "Pipeline000-_Diff%": np.mean,
                                "Pipeline001-": np.sum, "Pipeline001-_Diff": np.sum, "Pipeline001-_Diff%": np.mean,
                                "Pipeline002-": np.sum, "Pipeline002-_Diff": np.sum, "Pipeline002-_Diff%": np.mean,
                                "Pipeline003-": np.sum, "Pipeline003-_Diff": np.sum, "Pipeline003-_Diff%": np.mean
                               },
                       margins=True)#.reset_index()

In [ ]:
#Set themes
import matplotlib.pyplot as plt
#plot
sns.set()
sns.set_context("talk") #In order of relative size they are: paper, notebook, talk, and poster. Notebook is default
sns.set(style="whitegrid") #Seaborn has five built-in themes to style its plots: darkgrid, whitegrid, dark, white, and ticks. 
# Save a palette to a variable:
palette = sns.color_palette("Accent",8)
# Use palplot and pass in the variable:
sns.palplot(palette)
# Set the palette using the name of a palette:
sns.set_palette(palette)

In [ ]:
# multiple line plot
fig, ax = plt.subplots(figsize=(20,11))
plt.xticks(rotation=-45)

combine_df2_filter0 = combine_df2.query('Relative_Month_Offset==0')
sns.lineplot(x= 'Studio', y= 'forecast', #hue='Studio', #style='Studio',
             data=combine_df2_filter0, color="g", ci=None)
xs=combine_df2_filter0['Studio']
ys=combine_df2_filter0['forecast']
for x,y in zip(xs,ys):

    label = "{:.0f}".format(y)

    ax.annotate(label, # this is the text
                 (x,y), # this is the point to label
                 textcoords="offset points", # how to position the text
                 xytext=(0,10), # distance from text to points (x,y)
                 color='g',
                 ha='center') # horizontal alignment can be left, right or center
sns.lineplot(x= 'Studio', y= 'Pipeline000-', #hue='Studio', #style='Studio',
             data=combine_df2_filter0, color="b", ci=None)
sns.lineplot(x= 'Studio', y= 'Pipeline000-_Diff', #hue='Studio', #style='Studio',
             data=combine_df2_filter0, color="r", ci=None)
ys=combine_df2_filter0['Pipeline000-_Diff']
for x,y in zip(xs,ys):

    label = "{:.0f}".format(y)

    ax.annotate(label, # this is the text
                 (x,y), # this is the point to label
                 textcoords="offset points", # how to position the text
                 xytext=(0,10), # distance from text to points (x,y)
                 color='r',
                 ha='center') # horizontal alignment can be left, right or center
#sns.lineplot(x= 'End_of_Month', y= 'Pipeline002-',
#             data=combine_df2, color="orange") 
ax.legend(['forecast', 'Pipeline000-','Pipeline000-_Diff'], facecolor='w')
ax.set_title(label="Current Month Forecast, Pipeline000- and Difference for " + combine_df2_filter0['EOM1'].max(), fontsize=20)
plt.show()

In [ ]:
# multiple line plot
fig, ax = plt.subplots(figsize=(20,11))
plt.xticks(rotation=-45)

combine_df2_filter0 = combine_df2.query('Relative_Month_Offset==0')
sns.lineplot(x= 'Studio', y= 'forecast', #hue='Studio', #style='Studio',
             data=combine_df2_filter0, color="g", ci=None)
xs=combine_df2_filter0['Studio']
ys=combine_df2_filter0['forecast']
for x,y in zip(xs,ys):

    label = "{:.0f}".format(y)

    ax.annotate(label, # this is the text
                 (x,y), # this is the point to label
                 textcoords="offset points", # how to position the text
                 xytext=(0,10), # distance from text to points (x,y)
                 color='g',
                 ha='center') # horizontal alignment can be left, right or center
sns.lineplot(x= 'Studio', y= 'Pipeline001-', #hue='Studio', #style='Studio',
             data=combine_df2_filter0, color="b", ci=None)
sns.lineplot(x= 'Studio', y= 'Pipeline001-_Diff', #hue='Studio', #style='Studio',
             data=combine_df2_filter0, color="r", ci=None)
ys=combine_df2_filter0['Pipeline001-_Diff']
for x,y in zip(xs,ys):

    label = "{:.0f}".format(y)

    ax.annotate(label, # this is the text
                 (x,y), # this is the point to label
                 textcoords="offset points", # how to position the text
                 xytext=(0,10), # distance from text to points (x,y)
                 color='r',
                 ha='center') # horizontal alignment can be left, right or center
#sns.lineplot(x= 'End_of_Month', y= 'Pipeline002-',
#             data=combine_df2, color="orange") 
ax.legend(['forecast', 'Pipeline001-','Pipeline001-_Diff'], facecolor='w')
ax.set_title(label="Current Month Forecast, Pipeline001- and Difference for " + combine_df2_filter0['EOM1'].max(), fontsize=20)
plt.show()

In [ ]:
# multiple line plot
fig, ax = plt.subplots(figsize=(20,11))
plt.xticks(rotation=-45)

combine_df2_filter0 = combine_df2.query('Relative_Month_Offset==1')
sns.lineplot(x= 'Studio', y= 'forecast', #hue='Studio', #style='Studio',
             data=combine_df2_filter0, color="g", ci=None)
xs=combine_df2_filter0['Studio']
ys=combine_df2_filter0['forecast']
for x,y in zip(xs,ys):

    label = "{:.0f}".format(y)

    ax.annotate(label, # this is the text
                 (x,y), # this is the point to label
                 textcoords="offset points", # how to position the text
                 xytext=(0,10), # distance from text to points (x,y)
                 color='g',
                 ha='center') # horizontal alignment can be left, right or center
sns.lineplot(x= 'Studio', y= 'Pipeline001-', #hue='Studio', #style='Studio',
             data=combine_df2_filter0, color="b", ci=None)
sns.lineplot(x= 'Studio', y= 'Pipeline001-_Diff', #hue='Studio', #style='Studio',
             data=combine_df2_filter0, color="r", ci=None)
ys=combine_df2_filter0['Pipeline001-_Diff']
for x,y in zip(xs,ys):

    label = "{:.0f}".format(y)

    ax.annotate(label, # this is the text
                 (x,y), # this is the point to label
                 textcoords="offset points", # how to position the text
                 xytext=(0,10), # distance from text to points (x,y)
                 color='r',
                 ha='center') # horizontal alignment can be left, right or center
#sns.lineplot(x= 'End_of_Month', y= 'Pipeline002-',
#             data=combine_df2, color="orange") 
ax.legend(['forecast', 'Pipeline001-','Pipeline001-_Diff'], facecolor='w')
ax.set_title(label="Next Month Forecast, Pipeline001- and Difference for " + combine_df2_filter0['EOM1'].max(), fontsize=20)
plt.show()

In [ ]:
# multiple line plot
fig, ax = plt.subplots(figsize=(20,10))
plt.xticks(rotation=-45)

combine_df2_filter0 = combine_df2.query('Relative_Month_Offset==1')
sns.lineplot(x= 'Studio', y= 'forecast', #hue='Studio', #style='Studio',
             data=combine_df2_filter0, color="g", ci=None)
xs=combine_df2_filter0['Studio']
ys=combine_df2_filter0['forecast']
for x,y in zip(xs,ys):

    label = "{:.0f}".format(y)

    ax.annotate(label, # this is the text
                 (x,y), # this is the point to label
                 textcoords="offset points", # how to position the text
                 xytext=(0,10), # distance from text to points (x,y)
                 color='g',
                 ha='center') # horizontal alignment can be left, right or center
sns.lineplot(x= 'Studio', y= 'Pipeline002-', #hue='Studio', #style='Studio',
             data=combine_df2_filter0, color="b", ci=None)
sns.lineplot(x= 'Studio', y= 'Pipeline002-_Diff', #hue='Studio', #style='Studio',
             data=combine_df2_filter0, color="r", ci=None)
ys=combine_df2_filter0['Pipeline002-_Diff']
for x,y in zip(xs,ys):

    label = "{:.0f}".format(y)

    ax.annotate(label, # this is the text
                 (x,y), # this is the point to label
                 textcoords="offset points", # how to position the text
                 xytext=(0,10), # distance from text to points (x,y)
                 color='r',
                 ha='center') # horizontal alignment can be left, right or center
#sns.lineplot(x= 'End_of_Month', y= 'Pipeline002-',
#             data=combine_df2, color="orange") 
ax.legend(['forecast', 'Pipeline002-','Pipeline002-_Diff'], facecolor='w')
ax.set_title(label="Next to next Month Forecast, Pipeline002- and Difference for " + combine_df2_filter0['EOM1'].max(), fontsize=20)
plt.show()

In [ ]:
g=sns.catplot(x="Studio", y="Pipeline000-_Diff", hue="End_of_Month", 
                #col_wrap=3, legend=True,
                data=combine_df2, kind="bar", ci=None,
                height=12, aspect=2, palette=palette).set_xticklabels(rotation=-45)
g.set(title="Pipeline Diff by Studio, Month")
axes = g.ax
#axes.set_ylim(0,1500000)

In [ ]:
g = sns.catplot(x="End_of_Month", y="Pipeline000-_Diff", hue="Studio", 
                #col_wrap=3, legend=True,
                data=combine_df2, kind="bar", ci=None, legend=True,
                height=12, aspect=2, palette=palette)
g.set_xticklabels(rotation=-45)
g.set(title="Pipeline Diff by Month, Studio")
axes = g.ax
#axes.set_ylim(0,150)

In [ ]:
#plt.figure(figsize = (24,12))
sns.relplot(data=combine_df2, x="Pipeline000-", y="forecast", hue='Studio', #col="End_of_Month", col_wrap=3,
                  kind="line", palette="Set1", height=5, aspect=1)

In [ ]:
sns.catplot(x="Studio", y="forecast", col="End_of_Month", 
                col_wrap=3, legend=True, margin_titles=True,
                data=combine_df2, kind="bar", ci=None,
                height=5, aspect=2.5, palette=palette).set_xticklabels(rotation=-45)
sns.catplot(x="End_of_Month", y="forecast", col="Studio", 
                col_wrap=3, legend=True, margin_titles=True,
                data=combine_df2, kind="bar", ci=None,
                height=5, aspect=2.5, palette=palette).set_xticklabels(rotation=-45)
################################

In [ ]:
#LONG TO WIDE
#combine_df2_grp = combine_df2.groupby(['Studio','End_of_Month'], as_index=True).agg({"forecast":"sum", "Pipeline":"sum", "Pipeline Diff":"sum", "Pipeline Diff%":"mean"}, margins=True).fillna(0)#.reset_index()
#display(combine_df2_grp)
#combine_df2_pivot = combine_df2.pivot_table(index='Studio', columns='End_of_Month', values=["forecast", "Pipeline000-", "Pipeline000- Diff", "Pipeline000- Diff%"], margins=False)
#combine_df2_pivot.columns.name=None
#combine_df2_pivot = combine_df2_pivot.reset_index()
#pd.set_option('display.float_format', lambda x: '%.1f' % x)
#print("\n combine_df2_pivot\n")
#combine_df2_pivot.to_csv("combine_df2_pivot.csv", index=False)
#combine_df2

In [ ]:
# multiple line plot
fig, ax = plt.subplots(figsize=(20,11))
plt.xticks(rotation=-45)

combine_df2_filter0 = combine_df2.query('Relative_Month_Offset==0')
sns.lineplot(x= 'Studio', y= 'forecast', #hue='Studio', #style='Studio',
             data=combine_df2_filter0, color="g", ci=None, linewidth=4, alpha=0.7)
xs=combine_df2_filter0['Studio']
ys=combine_df2_filter0['forecast']
for x,y in zip(xs,ys):

    label = "{:.0f}".format(y)

    ax.annotate(label, # this is the text
                 (x,y), # this is the point to label
                 textcoords="offset points", # how to position the text
                 xytext=(0,10), # distance from text to points (x,y)
                 color='g',
                 ha='center') # horizontal alignment can be left, right or center
sns.lineplot(x= 'Studio', y= 'Pipeline001-', #hue='Studio', #style='Studio',
             data=combine_df2_filter0, color="b", ci=None)
sns.lineplot(x= 'Studio', y= 'Pipeline002-', #hue='Studio', #style='Studio',
             data=combine_df2_filter0, color="orange", ci=None)
sns.lineplot(x= 'Studio', y= 'Pipeline003-', #hue='Studio', #style='Studio',
             data=combine_df2_filter0, color="y", ci=None)
#ys=combine_df2_filter0['Pipeline001-_Diff']
#for x,y in zip(xs,ys):

#    label = "{:.0f}".format(y)

#    ax.annotate(label, # this is the text
#                 (x,y), # this is the point to label
#                 textcoords="offset points", # how to position the text
#                 xytext=(0,10), # distance from text to points (x,y)
#                 color='r',
#                 ha='center') # horizontal alignment can be left, right or center
#sns.lineplot(x= 'End_of_Month', y= 'Pipeline002-',
#             data=combine_df2, color="orange") 
ax.legend(['forecast', 'Pipeline001-','Pipeline002-','Pipeline003-'], facecolor='w')
ax.set_title(label="Current Month Forecast, Pipeline001-, 02, 03 for " + combine_df2_filter0['EOM1'].max(), fontsize=20)
plt.show()

In [ ]:
combine_df2_filter0 = combine_df2.query('Relative_Month_Offset==0')
g = sns.pairplot(combine_df2_filter0, 
             x_vars=['Pipeline000-', 'Pipeline001-','Pipeline002-','Pipeline003-'], 
             y_vars=['forecast'],
             kind="reg", height=5, palette=palette)
fig=g.fig
#fig.xticklabels(rotation=-45)
fig.subplots_adjust(top=0.93, wspace=0.1)
fig.suptitle("Forecast vs current and previous months Pipeline " + combine_df2_filter0['End_of_Month'].astype(str).max(), size=14, fontweight='bold')

In [ ]:
combine_df2_filter0 = combine_df2.query('Relative_Month_Offset==0')
g = sns.catplot(x="Studio", y="Pipeline000-_Diff", 
                data=combine_df2_filter0, kind="bar",
                height=8, aspect=2.5, palette=palette)
g.set_xticklabels(rotation=-45)
g.ax.set_title(label="Forecast and Pipeline000- Diff by Studio " + combine_df2_filter0['End_of_Month'].astype(str).max(), fontsize=20) 
axes = g.ax
for p in axes.patches:
    axes.annotate(format(p.get_height(), '.0f'), (p.get_x() + p.get_width() / 2., p.get_height()), 
               ha = 'center', va = 'center', xytext = (0, 10), textcoords = 'offset points')

In [ ]:
combine_df2_filter0 = combine_df2.query('Relative_Month_Offset==0')
g = sns.catplot(x="Studio", y="Pipeline001-_Diff", 
                data=combine_df2_filter0, kind="bar",
                height=8, aspect=2.5, palette=palette)
g.set_xticklabels(rotation=-45)
g.ax.set_title(label="Forecast and Pipeline001- Diff by Studio " + combine_df2_filter0['End_of_Month'].astype(str).max(), fontsize=20) 
axes = g.ax
for p in axes.patches:
    axes.annotate(format(p.get_height(), '.0f'), (p.get_x() + p.get_width() / 2., p.get_height()), 
               ha = 'center', va = 'center', xytext = (0, 10), textcoords = 'offset points')

In [ ]:
combine_df2_filter0 = combine_df2.query('Relative_Month_Offset==1')
g = sns.catplot(x="Studio", y="Pipeline001-_Diff", 
                data=combine_df2_filter0, kind="bar",
                height=8, aspect=2.5, palette=palette)
g.set_xticklabels(rotation=-45)
g.ax.set_title(label="Forecast and Pipeline001- Diff by Studio for " + combine_df2_filter0['End_of_Month'].astype(str).max(), fontsize=20) 
axes = g.ax
for p in axes.patches:
    axes.annotate(format(p.get_height(), '.0f'), (p.get_x() + p.get_width() / 2., p.get_height()), 
               ha = 'center', va = 'center', xytext = (0, 10), textcoords = 'offset points')

In [ ]:
combine_df2_filter0 = combine_df2.query('Relative_Month_Offset==0')
g = sns.catplot(x="Studio", y="Pipeline000-_Diff%", 
                data=combine_df2_filter0, kind="bar",
                height=8, aspect=2.5, palette=palette)
g.set_xticklabels(rotation=-45)
g.ax.set_title(label="Forecast and Pipeline000-_Diff% by Studio for " + combine_df2_filter0['End_of_Month'].astype(str).max(), fontsize=20)
axes = g.ax
for p in axes.patches:
    axes.annotate('{:.1f}%'.format(100*p.get_height()), (p.get_x() + p.get_width() / 2., p.get_height()), 
               ha = 'center', va = 'center', xytext = (0, 10), textcoords = 'offset points')

In [ ]:
combine_df2_filter0 = combine_df2.query('Relative_Month_Offset==1')
g = sns.catplot(x="Studio", y="Pipeline001-_Diff%", 
                data=combine_df2_filter0, kind="bar",
                height=8, aspect=2.5, palette=palette)
g.set_xticklabels(rotation=-45)
g.ax.set_title(label="Forecast and Pipeline001-_Diff% by Studio for " + combine_df2_filter0['End_of_Month'].astype(str).max(), fontsize=20)
axes = g.ax
for p in axes.patches:
    axes.annotate('{:.1f}%'.format(100*p.get_height()), (p.get_x() + p.get_width() / 2., p.get_height()), 
               ha = 'center', va = 'center', xytext = (0, 10), textcoords = 'offset points')

In [ ]:
g=sns.catplot(x="Studio", y="forecast", hue="End_of_Month", 
                #col_wrap=3, legend=True,
                data=combine_df2, kind="bar", ci=None,
                height=12, aspect=2, palette=palette).set_xticklabels(rotation=-45)
g.set(title="Forecast by Studio, Month")
axes = g.ax
#axes.set_ylim(0,1500000)

In [ ]:
plt.figure(figsize=(20, 10))
g = sns.barplot(x="Studio", y="forecast", 
            data=df3, palette=palette)
plt.xticks(rotation=-45)
plt.title("Forecast by Studio for Current Month",fontsize =18)
#plt.xlabel ('SQUARE KM',fontsize =24)
for p in g.patches:
    g.annotate(format(p.get_height(), '.0f'), (p.get_x() + p.get_width() / 2., p.get_height()), 
               ha = 'center', va = 'center', xytext = (0, 10), textcoords = 'offset points')

In [ ]:
combine_df2_filter2 = combine_df2.query('Relative_Month_Offset<=2')
sns.catplot(x="forecast", y="Studio", 
                col="End_of_Month",ci=None,
                data=combine_df2, kind="bar", 
                height=5, aspect=1.5, palette=palette).set_xticklabels(rotation=-45)
sns.catplot(x="Pipeline000-", y="Studio", 
                col="End_of_Month",ci=None,
                data=combine_df2, kind="bar", 
                height=5, aspect=1.5, palette=palette).set_xticklabels(rotation=-45)
sns.catplot(x="Pipeline000-_Diff", y="Studio", 
                col="End_of_Month",ci=None,
                data=combine_df2, kind="bar", 
                height=5, aspect=1.5, palette=palette).set_xticklabels(rotation=-45)

In [ ]:
plt.figure(figsize=(20, 10))
g = sns.barplot(x="Studio", y="forecast", 
            data=df3.query('EOM1=="2020-05-31"', palette=palette)
plt.xticks(rotation=-45)
plt.title("Forecast by Studio for May 2020",fontsize =18)
#plt.xlabel ('SQUARE KM',fontsize =24)
for p in g.patches:
    g.annotate(format(p.get_height(), '.0f'), (p.get_x() + p.get_width() / 2., p.get_height()), 
               ha = 'center', va = 'center', xytext = (0, 10), textcoords = 'offset points')

In [ ]:
g = sns.catplot(x="forecast", y="Studio", col="End_of_Month", col_wrap=3, 
            data=df3.query('EOM1=="2020-06-30"', kind="bar",
           height=10, aspect=1.5, palette=palette).set_xticklabels(rotation=-45)

In [ ]:
g = sns.catplot(x="forecast", y="Studio", col="End_of_Month", col_wrap=3, 
            data=df3, kind="bar",
           height=10, aspect=1.5, palette=palette).set_xticklabels(rotation=-45)

In [ ]:
g = sns.catplot(x="forecast", y="EOM1", col="Studio", col_wrap=3, 
            data=df3, kind="bar",
           height=10, aspect=1.5, palette=palette)

In [ ]:
g=sns.catplot(data=df3_pivot, kind="box",
            height=8, aspect=2.5, palette=palette, orient="h")
#g.ax.set_xlim(-50000,1000000)

In [ ]:
g3 = sns.barplot(data=combine_df2.query('Relative_Month_Offset ==0'), y='Studio', x='Pipeline000-_Diff', ci="sd", palette=palette)
g3

In [ ]:
g = sns.FacetGrid(combine_df2.query('Relative_Month_Offset <=3'), hue="End_of_Month", col="Studio", palette="Set1", col_wrap=3, margin_titles=True, height=6, aspect=1)
g = g.map(plt.scatter, "Pipeline", "forecast", s=100, linewidth=.5, edgecolor="white").add_legend()
g

In [ ]:
#g1 = sns.FacetGrid(combine_df2, hue="Studio", col="End_of_Month", palette="Set1", col_wrap=2, margin_titles=True, height=10, aspect=2)
#g1 = g1.map(plt.scatter, "2020-04-ActRec", "forecast", s=100, linewidth=.5, edgecolor="white").add_legend()
#g1

In [ ]:
g2 = sns.jointplot(data=combine_df2, x="Pipeline000-", y="forecast", kind='reg',  height=12)
g2 = sns.jointplot(data=combine_df2, x="Pipeline000-", y="forecast", kind='resid',  height=12)

In [ ]:
g3 = sns.FacetGrid(combine_df2, hue="End_of_Month", palette="Set1", margin_titles=True, height=8, aspect=2)
g3 = g3.map(plt.scatter, "Pipeline001-", "forecast", s=100, linewidth=.5, edgecolor="white").add_legend()
g3

In [ ]:
g2 = sns.jointplot(data=combine_df2, x="Pipeline001-", y="forecast", kind='reg',  height=8)
g2
g2 = sns.jointplot(data=combine_df2, x="Pipeline001-", y="forecast", kind='resid',  height=8)
g2

In [ ]:
g3 = sns.FacetGrid(combine_df2, hue="End_of_Month", margin_titles=True, height=8, aspect=2)
g3 = g3.map(plt.scatter, "Pipeline002-", "forecast", s=100, linewidth=.5, edgecolor="white").add_legend()
g3

In [ ]:
g2 = sns.jointplot(data=combine_df2, x="Pipeline002-", y="forecast", kind='reg',  height=8)
g2
g2 = sns.jointplot(data=combine_df2, x="Pipeline002-", y="forecast", kind='resid',  height=8)
g2